<h1>Alcudia</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116605.3782579118!2d3.0424735048304297!3d39.82588309712897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12962c8944fbb975%3A0x49397d7b807654a!2sPort%20d&#39;Alc%C3%BAdia%2C%20Balearic%20Islands%2C%20Spain!5e0!3m2!1sen!2suk!4v1658521633616!5m2!1sen!2suk"
        width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="mb-3"></iframe>

<p>The town of Alcudia lies to the north of Mallorca and can trace its history back to the 1300s. Remarkably the remains
  of the Roman settlement from the 2nd century BC still remain. The town is split into two being: the old town of narrow
  streets and ancient city walls and the relatively recent development of the resort where our accommodation the Zafiro
  Tropic and Zafiro Palace hotels are located. Alcudia boasts a fine sandy bay, which is punctuated by pine trees and is
  8km in length stretching to Ca’n Picafort. There are ample cafés, restaurants and bars along the bay for post ride
  relaxation.</p>
