<div class="tinymce-body" id="locations.mallorca.title">
  <%== get_text('locations.mallorca.title', '
<h1>Mallorca</h1>
') %>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d786859.1839535215!2d2.349894564504697!3d39.61214526472954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297b8766606c129%3A0xb7eb9bff02d2ecc0!2sMajorca!5e0!3m2!1sen!2suk!4v1658521432773!5m2!1sen!2suk"
        width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="mb-3"></iframe>

<%== erb :_carousel, locals: { path: 'mallorca', count: 4, alt: [
  'A town with a mountain as a backdrop',
  'A town',
  'Bikes leaning against a sea front wall',
  'Fields with some small buildings',
] } %>

<div class="tinymce-body" id="locations.mallorca.body">
<%== get_text('locations.mallorca.body', '
<p>The island of Mallorca is the largest island of Spain by area and has two mountainous regions, the Serra de
  Tramuntana in the north-west and the Serres de Llevant in the east. Each range is approximately 70 km (43 miles) in
  length.</p>

<p>The highest peak on Majorca is Puig Major at 1,445 m in the Serra de Tramuntana, however this is situated in a
  military zone, and the public road reaches a height of 880m. The northern coast is rugged and has many cliffs and
  famous climbs including the road to the lighthouse at Cap de Formentor, the monastery at Lluc, the legendary climb out
  of Sa Colobra, the Col de Soller and not forgetting Valldemossa.</p>

<p>The northeast coast comprises two bays: Pollensa and the larger Alcudia bay where we are based.</p>

<p>The central zone extending inland from Pollensa and Alcudia to Palma is generally flat, fertile plain known as Es
  Pla. Dotted about this plain are several villages and towns that have established themselves on rises in the
  landscape, which offer ample opportunities for coffee/lunch stops. There are also the higher outcrops that rise to
  500m and above and house the monasteries at Randa, San Salvador and Santa Magdalena that give us an opportunity to
  have a serious workout before enjoying a well-deserved break.</p>
') %>
</div>
