<div class="tinymce-body" id="locations.muro.title">
  <%== get_text('locations.muro.title', '
<h1>Muro</h1>
') %>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98227.65515408508!2d2.9697105231379974!3d39.703376989010664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297cc54e84d6ca5%3A0xa1dcc5c2df5d87b5!2s07440%20Muro%2C%20Balearic%20Islands%2C%20Spain!5e0!3m2!1sen!2suk!4v1658521685970!5m2!1sen!2suk"
        width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        class="mb-3"></iframe>

<%== erb :_carousel, locals: { path: 'muro', count: 3, alt: [
  'A street in Muro, lined with buildings',
  'A cafe, with cyclists sitting at tables outside',
  'A large, old building',
] } %>


<div class="tinymce-body" id="locations.muro.body">
<%== get_text('locations.muro.body', '
<p>The village of Muro is a traditional rural village dating from 1232 located approximately 10 kms inland from the Bay
  of Alcudia. Its sandstone buildings and old church and squares are typical of Mallorca. Muro. which translates to
  ‘Wall’ boasts one of the best cake shops on the island.</p>
') %>
</div>
