<h1>Mallorca Autumn 2023</h1>
<h2>23rd September to 29th October</h2>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2023-aut.jpg);"></div>
  <div class="col-8">
    <p>
      Autumn 2023 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br />
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2023.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share studio</th>
        <th>Single in studio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>23rd September to 5th October</td>
        <td>£779.00</td>
        <td>£949.00</td>
      </tr>
      <tr>
        <td>6th to 29th October</td>
        <td>£689.00</td>
        <td>£829.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/221832563384357" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share Junior Suite</th>
        <th>Single in Junior Suite</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>23rd September to 5th October</td>
        <td>£999.00</td>
        <td>£1259.00</td>
      </tr>
      <tr>
        <td>6th to 29th October</td>
        <td>£929.00</td>
        <td>£1129.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/221832045681352" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
