<h1>Mallorca 312 Sportive</h1>
<h2>29th April 2023</h2>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2023-312.jpg);"></div>
  <div class="col-8">
    <p>
      Mallorca 312 2023 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including 312 jersey, cycling food etc,
      and <b>guaranteed 312 entry</b>.
    </p>
    <p>
      Prices quoted are <b>per person</b>.
    </p>
    <p>
      There is a discount of £140 for non 312 entrants.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table align-middle">
      <thead>
      <tr>
        <th colspan="2"></th>
        <th>4 days</th>
        <th>5 days</th>
        <th>6 days</th>
        <th>7 days</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="2">Studio</td>
        <td>2 person share</td>
        <td>£565.00</td>
        <td>£645.00</td>
        <td>£725.00</td>
        <td>£805.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£660.00</td>
        <td>£765.00</td>
        <td>£870.00</td>
        <td>£975.00</td>
      </tr>
      <tr>
        <td rowspan="2">Studio with garden view</td>
        <td>2 person share</td>
        <td>£585.00</td>
        <td>£675.00</td>
        <td>£765.00</td>
        <td>£855.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£720.00</td>
        <td>£840.00</td>
        <td>£960.00</td>
        <td>£1080.00</td>
      </tr>
      <tr>
        <td rowspan="2">Apartment</td>
        <td>2 person share</td>
        <td>£590.00</td>
        <td>£680.00</td>
        <td>£770.00</td>
        <td>£860.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£700.00</td>
        <td>£815.00</td>
        <td>£930.00</td>
        <td>£1045.00</td>
      </tr>
      <tr>
        <td rowspan="2">Apartment with pool view</td>
        <td>2 person share</td>
        <td>£620.00</td>
        <td>£715.00</td>
        <td>£810.00</td>
        <td>£905.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£735.00</td>
        <td>£860.00</td>
        <td>£985.00</td>
        <td>£1100.00</td>
      </tr>
      <tr>
        <td colspan="2">Royal Terrace Apartment</td>
        <td>£755.00</td>
        <td>£885.00</td>
        <td>£1015.00</td>
        <td>£1145.00</td>
      </tr>
      <tr>
        <td colspan="2">Extra adult in apartment</td>
        <td>£505.00</td>
        <td>£570.00</td>
        <td>£635.00</td>
        <td>£700.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="https://form.jotform.com/221393191925357" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table align-middle">
      <thead>
      <tr>
        <th colspan="2"></th>
        <th>4 days</th>
        <th>5 days</th>
        <th>6 days</th>
        <th>7 days</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="3">Junior Suite</td>
        <td>2 person share</td>
        <td>£700.00</td>
        <td>£815.00</td>
        <td>£930.00</td>
        <td>£1045.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£900.00</td>
        <td>£1065.00</td>
        <td>£1230.00</td>
        <td>£1395.00</td>
      </tr>
      <tr>
        <td>Extra Adult</td>
        <td>£610.00</td>
        <td>£700.00</td>
        <td>£790.00</td>
        <td>£880.00</td>
      </tr>
      <tr>
        <td rowspan="3">Junior Suite Pool View</td>
        <td>2 person share</td>
        <td>£750.00</td>
        <td>£875.00</td>
        <td>£1000.00</td>
        <td>£1125.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£890.00</td>
        <td>£1050.00</td>
        <td>£1210.00</td>
        <td>£1370.00</td>
      </tr>
      <tr>
        <td>Extra Adult</td>
        <td>£645.00</td>
        <td>£745.00</td>
        <td>£845.00</td>
        <td>£945.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="https://form.jotform.com/221393191925357" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
