<h1>Mallorca Spring 2023</h1>
<h2>4th February to 23rd May</h2>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2023-spr.jpg);"></div>
  <div class="col-8">
    <p>
      Spring 2023 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br />
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2023.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share studio</th>
        <th>Single in studio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>4th to 20th February</td>
        <td>£589.00</td>
        <td>£679.00</td>
      </tr>
      <tr>
        <td>20th February to 12th March</td>
        <td>£629.00</td>
        <td>£769.00</td>
      </tr>
      <tr>
        <td>13th to 24th March</td>
        <td>£695.00</td>
        <td>£849.00</td>
      </tr>
      <tr>
        <td>25th March to 30th April</td>
        <td>£739.00</td>
        <td>£909.00</td>
      </tr>
      <tr>
        <td>1st to 23rd May</td>
        <td>£779.00</td>
        <td>£949.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/213195228855361" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share Junior Suite</th>
        <th>Single in Junior Suite</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>24th February to 12th March</td>
        <td>£819.00</td>
        <td>£989.00</td>
      </tr>
      <tr>
        <td>13th to 24th March</td>
        <td>£924.00</td>
        <td>£1149.00</td>
      </tr>
      <tr>
        <td>25th March to 30th April</td>
        <td>£979.00</td>
        <td>£1239.00</td>
      </tr>
      <tr>
        <td>1st to 23rd May</td>
        <td>£999.00</td>
        <td>£1269.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/220664908568366" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
