<h1>Mallorca Autumn 2024</h1>
<h2>14th September to 3rd November</h2>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2024-aut.jpg);"></div>
  <div class="col-8">
    <p>
      Autumn 2024 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br />
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2024.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share studio</th>
        <th>Single in studio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>14th September to 5th October</td>
        <td>£924.00</td>
        <td>£1,169.00</td>
      </tr>
      <tr>
        <td>6th October to 3rd November</td>
        <td>£819.00</td>
        <td>£1,004.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/231904272661353" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share Junior Suite</th>
        <th>Single in Junior Suite</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>14th to 30th September</td>
        <td>£1,154.00</td>
        <td>£1,514.00</td>
      </tr>
      <tr>
        <td>1st November to 4th November</td>
        <td>£1,064.00</td>
        <td>£1,384.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/231904424484355" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
