<h1>Mallorca Spring 2024</h1>
<h2>15th February to 13th May</h2>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2024-spr.jpg);"></div>
  <div class="col-8">
    <p>
      Spring 2024 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br />
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2024.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share studio</th>
        <th>Single in studio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>15th February to 7th March</td>
        <td>£754.00</td>
        <td>£909.00</td>
      </tr>
      <tr>
        <td>8th to 21st March</td>
        <td>£814.00</td>
        <td>£1,014.00</td>
      </tr>
      <tr>
        <td>22nd March to 30th April</td>
        <td>£869.00</td>
        <td>£1,094.00</td>
      </tr>
      <tr>
        <td>1st to 13th May</td>
        <td>£924.00</td>
        <td>£1,159.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/231904147839361" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>2 person share Junior Suite</th>
        <th>Single in Junior Suite</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>23rd February to 11th March</td>
        <td>£949.00</td>
        <td>£1,179.00</td>
      </tr>
      <tr>
        <td>12th to 21st March</td>
        <td>£1,034.00</td>
        <td>£1,334.00</td>
      </tr>
      <tr>
        <td>22nd March to 30th April</td>
        <td>£1,119.00</td>
        <td>£1,459.00</td>
      </tr>
      <tr>
        <td>1st to 13th May</td>
        <td>£1,154.00</td>
        <td>£1,514.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/231904250426348" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
