<h1>Mallorca Autumn 2025</h1>
<h2>13th September to 2nd November</h2>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/2025-aut.jpg);"></div>
  <div class="col-12 col-md-8">
    <p>
      Autumn 2025 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, shorts and socks, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br>
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2025.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table text-end">
      <thead>
      <tr>
        <th></th>
        <th>2 person share studio</th>
        <th>Single in studio</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>13th September to 5th October</td>
        <td>£1,004.00</td>
        <td>£1,274.00</td>
      </tr>
      <tr>
        <td>6th October to 2nd November</td>
        <td>£889.00</td>
        <td>£1,089.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/242153349187359" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table text-end">
      <thead>
      <tr>
        <th></th>
        <th>2 person share Junior Suite</th>
        <th>Single in Junior Suite</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>13th September to 3rd October</td>
        <td>£1,254.00</td>
        <td>£1,649.00</td>
      </tr>
      <tr>
        <td>4th October to 2nd November</td>
        <td>£1,149.00</td>
        <td>£1,489.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
      <a href="https://form.jotform.com/242153505300340" class="btn btn-primary">
        Book Now
      </a>
    </div>
  </div>
</div>
