<h1>
  Mallorca 312 Sportive
  <% if SOLD_OUT_312 %>
  <span class="badge bg-danger">
    Sold out!
  </span>
  <% end %>
</h1>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/2025-312.jpg);"></div>
  <div class="col-8">
    <%== erb :_tinymce, locals: { id: "2025.312.info" } %>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-8 position-relative">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <table class="table text-end align-middle">
      <thead>
      <tr>
        <th colspan="2"></th>
        <th>4 days</th>
        <th>5 days</th>
        <th>6 days</th>
        <th>7 days</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="2">Studio</td>
        <td>2 person share</td>
        <td>£750.00</td>
        <td>£860.00</td>
        <td>£970.00</td>
        <td>£1,080.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£900.00</td>
        <td>£1,050.00</td>
        <td>£1,200.00</td>
        <td>£1,350.00</td>
      </tr>
      <tr>
        <td rowspan="2">Studio with garden view</td>
        <td>2 person share</td>
        <td>£770.00</td>
        <td>£885.00</td>
        <td>£1,000.00</td>
        <td>£1,115.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td rowspan="2">One Bedroom Suite</td>
        <td>2 person share</td>
        <td>£775.00</td>
        <td>£890.00</td>
        <td>£1,005.00</td>
        <td>£1,120.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£915.00</td>
        <td>£1,080.00</td>
        <td>£1,245.00</td>
        <td>£1,410.00</td>
      </tr>
      <tr>
        <td rowspan="2">One Bedroom Suite with pool view</td>
        <td>2 person share</td>
        <td>£800.00</td>
        <td>£925.00</td>
        <td>£1,050.00</td>
        <td>£1,175.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£975.00</td>
        <td>£1,140.00</td>
        <td>£1,305.00</td>
        <td>£1,470.00</td>
      </tr>
      <tr>
        <td>One Bedroom Penthouse Suite</td>
        <td>2 person share</td>
        <td>£945.00</td>
        <td>£1,105.00</td>
        <td>£1,265.00</td>
        <td>£1,425.00</td>
      </tr>
      <tr>
        <td colspan="2">Extra adult in One Bedroom Suite</td>
        <td>£660.00</td>
        <td>£745.00</td>
        <td>£830.00</td>
        <td>£915.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <% if SOLD_OUT_312 %>
        <button class="btn btn-primary" disabled>
          Sold out!
        </button>
      <% else %>
        <a href="https://form.jotform.com/242174955710357" class="btn btn-primary">
          Book Now
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <table class="table text-end align-middle">
      <thead>
      <tr>
        <th colspan="2"></th>
        <th>4 days</th>
        <th>5 days</th>
        <th>6 days</th>
        <th>7 days</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="3">Junior Suite</td>
        <td>2 person share</td>
        <td>£860.00</td>
        <td>£1,000.00</td>
        <td>£1,140.00</td>
        <td>£1,280.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£1,070.00</td>
        <td>£1,260.00</td>
        <td>£1,450.00</td>
        <td>£1,640.00</td>
      </tr>
      <tr>
        <td>Extra Adult</td>
        <td>£765.00</td>
        <td>£880.00</td>
        <td>£995.00</td>
        <td>£1,110.00</td>
      </tr>
      <tr>
        <td rowspan="3">Junior Suite Pool View</td>
        <td>2 person share</td>
        <td>£890.00</td>
        <td>£1,035.00</td>
        <td>£1,180.00</td>
        <td>£1,325.00</td>
      </tr>
      <tr>
        <td>Single</td>
        <td>£1,110.00</td>
        <td>£1,310.00</td>
        <td>£1,510.00</td>
        <td>£1,710.00</td>
      </tr>
      <tr>
        <td>Extra Adult</td>
        <td>£790.00</td>
        <td>£910.00</td>
        <td>£1,070.00</td>
        <td>£1,150.00</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <% if SOLD_OUT_312 %>
        <button class="btn btn-primary" disabled>
          Sold out!
        </button>
      <% else %>
        <a href="https://form.jotform.com/242174955710357" class="btn btn-primary">
          Book Now
        </a>
      <% end %>
    </div>
  </div>
</div>
