<h1>Mallorca Spring 2026</h1>
<h2>30th January to 31st May</h2>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/2026-spr.jpg);"></div>
  <div class="col-12 col-md-8">
    <p>
      Spring 2026 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, shorts and socks, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br>
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2026.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <h4>One Bedroom Suite</h4>
    <div class="table-responsive">
      <table class="table text-end align-middle">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">30th January to 12th February</td>
          <td>2 person share</td>
          <td>£794.00</td>
          <td>€929.00</td>
          <td>C$1,461.00</td>
          <td>US$1,072.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£954.00</td>
          <td>€1,116.00</td>
          <td>C$1,755.00</td>
          <td>US$1,228.00</td>
        </tr>
        <tr>
          <td rowspan="2">13th February to 5th March</td>
          <td>2 person share</td>
          <td>£829.00</td>
          <td>€1,009.00</td>
          <td>C$1,525.00</td>
          <td>US$1,119.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,009.00</td>
          <td>€1,181.00</td>
          <td>C$1,857.00</td>
          <td>US$1,362.00</td>
        </tr>
        <tr>
          <td rowspan="2">6th to 20th March</td>
          <td>2 person share</td>
          <td>£914.00</td>
          <td>€1,069.00</td>
          <td>C$1,682.00</td>
          <td>US$1,234.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,159.00</td>
          <td>€1,356.00</td>
          <td>C$2,133.00</td>
          <td>US$1,565.00</td>
        </tr>
        <tr>
          <td rowspan="2">21st to 26th March</td>
          <td>2 person share</td>
          <td>£984.00</td>
          <td>€1,151.00</td>
          <td>C$1,811.00</td>
          <td>US$1,328.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,229.00</td>
          <td>€1,438.00</td>
          <td>C$2,261.00</td>
          <td>US$1,659.00</td>
        </tr>
        <tr>
          <td rowspan="2">27th March to 17th April</td>
          <td>2 person share</td>
          <td>£1,074.00</td>
          <td>€1,257.00</td>
          <td>C$1,976.00</td>
          <td>US$1,450.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,369.00</td>
          <td>€1,602.00</td>
          <td>C$2,519.00</td>
          <td>US$1,848.00</td>
        </tr>
        <tr>
          <td rowspan="2">18th April to 31st May</td>
          <td>2 person share</td>
          <td>£1,084.00</td>
          <td>€1,268.00</td>
          <td>C$1,995.00</td>
          <td>US$1,463.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,389.00</td>
          <td>€1,625.00</td>
          <td>C$2,556.00</td>
          <td>US$1,875.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
    </div>
    <div class="text-center">
      <a href="https://form.jotform.com/251815202128347" class="btn btn-primary mt-1">
        Book Now (GBP)
      </a>
      <a href="https://form.jotform.com/251942158758367" class="btn btn-primary mt-1">
        Book Now (EUR)
      </a>
      <a href="https://form.jotform.com/251942287026358" class="btn btn-primary mt-1">
        Book Now (CAD)
      </a>
      <a href="https://form.jotform.com/251941850462357" class="btn btn-primary mt-1">
        Book Now (USD)
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <h4>Junior Suite</h4>
    <div class="table-responsive">
      <table class="table text-end align-middle">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">20th February to 5th March</td>
          <td>2 person share</td>
          <td>£1,034.00</td>
          <td>€1,210.00</td>
          <td>C$1,903.00</td>
          <td>US$1,396.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,284.00</td>
          <td>€1,502.00</td>
          <td>C$2,363.00</td>
          <td>US$1,733.00</td>
        </tr>
        <tr>
          <td rowspan="2">6th to 26th March</td>
          <td>2 person share</td>
          <td>£1,129.00</td>
          <td>€1,321.00</td>
          <td>C$2,077.00</td>
          <td>US$1,524.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,449.00</td>
          <td>€1,695.00</td>
          <td>C$2,666.00</td>
          <td>US$1,956.00</td>
        </tr>
        <tr>
          <td rowspan="2">27th March to 30th April</td>
          <td>2 person share</td>
          <td>£1,239.00</td>
          <td>€1,450.00</td>
          <td>C$2,280.00</td>
          <td>US$1,673.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,619.00</td>
          <td>€1,894.00</td>
          <td>C$2,979.00</td>
          <td>US$2,186.00</td>
        </tr>
        <tr>
          <td rowspan="2">1st to 31st May</td>
          <td>2 person share</td>
          <td>£1,324.00</td>
          <td>€1,549.00</td>
          <td>C$2,436.00</td>
          <td>US$1,787.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,754.00</td>
          <td>€2,052.00</td>
          <td>C$3,227.00</td>
          <td>US$2,368.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
    </div>
    <div class="text-center mt-1">
      <a href="https://form.jotform.com/251902766711357" class="btn btn-primary mt-1">
        Book Now (GBP)
      </a>
      <a href="https://form.jotform.com/251942771921360" class="btn btn-primary mt-1">
        Book Now (EUR)
      </a>
      <a href="https://form.jotform.com/251942545854364" class="btn btn-primary mt-1">
        Book Now (CAD)
      </a>
      <a href="https://form.jotform.com/251942491168362" class="btn btn-primary mt-1">
        Book Now (USD)
      </a>
    </div>
  </div>
</div>
