<h1>
  Mallorca 312 OK Mobility Sportive
  <% if SOLD_OUT_312 %>
  <span class="badge bg-danger">
    Sold out!
  </span>
  <% end %>
</h1>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/2026-312.jpg);"></div>
  <div class="col-12 col-md-8">
    <%== erb :_tinymce, locals: { id: "2026.312.info" } %>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <p>
      Zafiro will incur a surcharge of 25% on bookings in the Zafiro Tropic of less than seven nights
      during the period 18th April and 9th May.
      The Zafiro Palace becomes a cheaper option for those wishing to stay less than seven nights during this period.
    </p>
    <div class="table-responsive">
      <table class="table table-sm text-end align-middle">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">Studio</td>
          <td>2 person share</td>
          <td>£1,130.00</td>
          <td>€1,322.00</td>
          <td>C$2,079.00</td>
          <td>US$1,526.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,415.00</td>
          <td>€1,656.00</td>
          <td>C$2,604.00</td>
          <td>US$1,910.00</td>
        </tr>
        <tr>
          <td rowspan="2">Studio with garden view</td>
          <td>2 person share</td>
          <td>£1,155.00</td>
          <td>€1,351.00</td>
          <td>C$2,125.00</td>
          <td>US$1,559.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td rowspan="2">One Bedroom Suite</td>
          <td>2 person share</td>
          <td>£1,155.00</td>
          <td>€1,351.00</td>
          <td>C$2,125.00</td>
          <td>US$1,559.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,460.00</td>
          <td>€1,708.00</td>
          <td>C$2,686.00</td>
          <td>US$1,971.00</td>
        </tr>
        <tr>
          <td rowspan="2">One Bedroom Suite with pool view</td>
          <td>2 person share</td>
          <td>£1,205.00</td>
          <td>€1,410.00</td>
          <td>C$2,217.00</td>
          <td>US$1,627.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,535.00</td>
          <td>€1,796.00</td>
          <td>C$2,824.00</td>
          <td>US$2,072.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <% if SOLD_OUT_312 %>
        <button class="btn btn-primary" disabled>
          Sold out!
        </button>
      <% else %>
        <a href="https://form.jotform.com/251903658370359" class="btn btn-primary mt-1">
          Book Now (GBP)
        </a>
        <a href="https://form.jotform.com/251942369264363" class="btn btn-primary mt-1">
          Book Now (EUR)
        </a>
        <a href="https://form.jotform.com/251942527412354" class="btn btn-primary mt-1">
          Book Now (CAD)
        </a>
        <a href="https://form.jotform.com/251942603837360" class="btn btn-primary mt-1">
          Book Now (USD)
        </a>
      <% end %>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <div class="table-responsive">
      <table class="table table-sm text-end align-middle">
        <thead>
        <tr>
          <th colspan="3"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="8">Junior Suite</td>
          <td rowspan="4">2 person share</td>
          <td>4 days</td>
          <td>£890.00</td>
          <td>€1,041.00</td>
          <td>C$1,638.00</td>
          <td>US$1,202.00</td>
        </tr>
        <tr>
          <td>5 days</td>
          <td>£1,035.00</td>
          <td>€1,211.00</td>
          <td>C$1,904.00</td>
          <td>US$1,397.00</td>
        </tr>
        <tr>
          <td>6 days</td>
          <td>£1,180.00</td>
          <td>€1,381.00</td>
          <td>C$2,171.00</td>
          <td>US$1,593.00</td>
        </tr>
        <tr>
          <td>7 days</td>
          <td>£1,325.00</td>
          <td>€1,555.00</td>
          <td>C$2,438.00</td>
          <td>US$1,789.00</td>
        </tr>
        <tr class="position-relative">
          <td rowspan="4">Single</td>
          <td>4 days</td>
          <td>£1,105.00</td>
          <td>€1,293.00</td>
          <td>C$2,033.00</td>
          <td>US$1,492.00</td>
        </tr>
        <tr>
          <td>5 days</td>
          <td>£1,305.00</td>
          <td>€1,527.00</td>
          <td>C$2,401.00</td>
          <td>US$1,762.00</td>
        </tr>
        <tr>
          <td>6 days</td>
          <td>£1,505.00</td>
          <td>€1,761.00</td>
          <td>C$2,769.00</td>
          <td>US$2,032.00</td>
        </tr>
        <tr>
          <td>7 days</td>
          <td>£1,705.00</td>
          <td>€1,995.00</td>
          <td>C$3,137.00</td>
          <td>US$2,302.00</td>
        </tr>
        <tr>
          <td rowspan="8">Junior Suite Pool View</td>
          <td rowspan="4">2 person share</td>
          <td>4 days</td>
          <td>£920.00</td>
          <td>€1,076.00</td>
          <td>C$1,693.00</td>
          <td>US$1,242.00</td>
        </tr>
        <tr>
          <td>5 days</td>
          <td>£1,075.00</td>
          <td>€1,258.00</td>
          <td>C$1,978.00</td>
          <td>US$1,451.00</td>
        </tr>
        <tr>
          <td>6 days</td>
          <td>£1,230.00</td>
          <td>€1,439.00</td>
          <td>C$2,263.00</td>
          <td>US$1,661.00</td>
        </tr>
        <tr>
          <td>7 days</td>
          <td>£1,385.00</td>
          <td>€1,620.00</td>
          <td>C$2,548.00</td>
          <td>US$1,870.00</td>
        </tr>
        <tr>
          <td rowspan="4">Single</td>
          <td>4 days</td>
          <td>£1,155.00</td>
          <td>€1,351.00</td>
          <td>C$2,125.00</td>
          <td>US$1,559.00</td>
        </tr>
        <tr>
          <td>5 days</td>
          <td>£1,365.00</td>
          <td>€1,597.00</td>
          <td>C$2,512.00</td>
          <td>US$1,843.00</td>
        </tr>
        <tr>
          <td>6 days</td>
          <td>£1,575.00</td>
          <td>€1,843.00</td>
          <td>C$2,898.00</td>
          <td>US$2,126.00</td>
        </tr>
        <tr>
          <td>7 days</td>
          <td>£1,785.00</td>
          <td>€2,088.00</td>
          <td>C$3,284.00</td>
          <td>US$2,410.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <% if SOLD_OUT_312 %>
        <button class="btn btn-primary" disabled>
          Sold out!
        </button>
      <% else %>
        <a href="https://form.jotform.com/251903658370359" class="btn btn-primary mt-1">
          Book Now (GBP)
        </a>
        <a href="https://form.jotform.com/251942369264363" class="btn btn-primary mt-1">
          Book Now (EUR)
        </a>
        <a href="https://form.jotform.com/251942527412354" class="btn btn-primary mt-1">
          Book Now (CAD)
        </a>
        <a href="https://form.jotform.com/251942603837360" class="btn btn-primary mt-1">
          Book Now (USD)
        </a>
      <% end %>
    </div>
  </div>
</div>
