<h1>Mallorca Autumn 2026</h1>
<h2>9th September to 8th November</h2>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/2026-aut.jpg);"></div>
  <div class="col-12 col-md-8">
    <p>
      Autumn 2026 Prices, including transfers to and from hotel,
      half board accommodation with guided rides,
      goody bag including Ciclos Major jersey, shorts and socks, cycling food etc.
    </p>
    <p>
      Prices quoted are <span class="fw-bold">per person per week</span>.
      <br>
      Bookings can be made for fewer or more days.
    </p>
    <p>
      <a href="/prices/2026.pdf">View our full price list</a> for other room types and daily price adjustments.
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/tropic.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Tropic 4* Hotel - Alcudia</h3>
    <h4>One Bedroom Suite</h4>
    <div class="table-responsive">
      <table class="table text-end align-middle">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">9th September to 1st October</td>
          <td>2 person share</td>
          <td>£1,084.00</td>
          <td>€1,268.00</td>
          <td>C$1,995.00</td>
          <td>US$1,463.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,389.00</td>
          <td>€1,625.00</td>
          <td>C$2,556.00</td>
          <td>US$1,875.00</td>
        </tr>
        <tr>
          <td rowspan="2">2nd October to 8th November</td>
          <td>2 person share</td>
          <td>£954.00</td>
          <td>€1,116.00</td>
          <td>C$1,755.00</td>
          <td>US$1,288.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,199.00</td>
          <td>€1,403.00</td>
          <td>C$2,206.00</td>
          <td>US$1,619.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
    </div>
    <div class="text-center">
      <a href="https://form.jotform.com/251903569682366" class="btn btn-primary mt-1">
        Book Now (GBP)
      </a>
      <a href="https://form.jotform.com/251943539921363" class="btn btn-primary mt-1">
        Book Now (EUR)
      </a>
      <a href="https://form.jotform.com/251943915354361" class="btn btn-primary mt-1">
        Book Now (CAD)
      </a>
      <a href="https://form.jotform.com/251944228503355" class="btn btn-primary mt-1">
        Book Now (USD)
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col camp-background-image d-none d-md-block" style="background-image: url(/img/camps/palace.jpg);"></div>
  <div class="col-12 col-md-8">
    <h3>Zafiro Palace 5* Hotel - Alcudia</h3>
    <h4>Junior Suite</h4>
    <div class="table-responsive">
      <table class="table text-end align-middle">
        <thead>
        <tr>
          <th colspan="2"></th>
          <th>GBP</th>
          <th>EUR</th>
          <th>CAD</th>
          <th>USD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td rowspan="2">9th September to 2nd October</td>
          <td>2 person share</td>
          <td>£1,324.00</td>
          <td>€1,549.00</td>
          <td>C$2,436.00</td>
          <td>US$1,787.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,754.00</td>
          <td>€2,052.00</td>
          <td>C$3,227.00</td>
          <td>US$2,368.00</td>
        </tr>
        <tr>
          <td rowspan="2">3rd October to 8th November</td>
          <td>2 person share</td>
          <td>£1,209.00</td>
          <td>€1,415.00</td>
          <td>C$2,225.00</td>
          <td>US$1,632.00</td>
        </tr>
        <tr>
          <td>Single</td>
          <td>£1,574.00</td>
          <td>€1,842.00</td>
          <td>C$2,896.00</td>
          <td>US$2,125.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <a href="/contact-us" class="btn btn-primary">
        Enquire about Prices and Availability
      </a>
    </div>
    <div class="text-center mt-1">
      <a href="https://form.jotform.com/251902960303350" class="btn btn-primary mt-1">
        Book Now (GBP)
      </a>
      <a href="https://form.jotform.com/251944263244356" class="btn btn-primary mt-1">
        Book Now (EUR)
      </a>
      <a href="https://form.jotform.com/251943451791361" class="btn btn-primary mt-1">
        Book Now (CAD)
      </a>
      <a href="https://form.jotform.com/251944165649366" class="btn btn-primary mt-1">
        Book Now (USD)
      </a>
    </div>
  </div>
</div>
