<p class="text-center">
  <img src="/img/312/logo.png" alt="Mallorca 312 Logo">
</p>

<%== erb :_tinymce, locals: { id: 'camps.312.header' } %>

<p class="text-center">
  <img class="img-fluid" src="/img/312/header.jpg" alt="Cyclists riding along a road in Majorca, with the coastline and the sea in the background">
</p>

<%== erb :_tinymce, locals: { id: 'camps.312.body' } %>

<p class="text-center d-grid">
  <a href="/camps/2023-312" class="btn btn-primary btn-lg">
    View 2023 Prices and Book Now
  </a>
</p>

<p class="text-center">
  <img class="img-fluid" src="/img/312/photo-1.jpg" alt="Cyclists riding along a road in Majorca">
</p>
<p class="text-center">
  <img class="img-fluid" src="/img/312/photo-2.jpg" alt="A cyclist waves to the crowd as they finish the Mallorca 312">
</p>

<p class="text-center">
  <img class="img-fluid" src="/img/312/167-map.png" alt="A map of the 167km route">
</p>
<p class="text-center">
  <img class="img-fluid" src="/img/312/167-elevation.jpg" alt="A graph of the elevation of the 167km route">
</p>

<p class="text-center">
  <img class="img-fluid" src="/img/312/225-map.png" alt="A map of the 225km route">
</p>
<p class="text-center">
  <img class="img-fluid" src="/img/312/225-elevation.jpg" alt="A graph of the elevation of the 225km route">
</p>

<p class="text-center">
  <img class="img-fluid" src="/img/312/312-map.png" alt="A map of the 312km route">
</p>
<p class="text-center">
  <img class="img-fluid" src="/img/312/312-elevation.jpg" alt="A graph of the elevation of the 312km route">
</p>
