
<div class="tinymce-body" id="camps.bespoke.body">
<%== get_text('camps.bespoke.body', '<h1>Bespoke Holidays and Training Camps</h1>

<p>We can provide for you, your Cycling or Tri Club, or just your group of cycling mates an unforgettable experience,
  tailored to your exact needs, superbly organised to the last degree, with a wide choice of accommodation to suit all
  budgets and requirements.</p>

<p>We can base your trip on any of the following:</p>

<h4>Zafiro Tropic Alcudia 4*</h4>
<p>With a spa facility and indoor pool at your disposal, choice of accommodation in either studio, apartments or suites,
  a superb buffet restaurant and an onsite supermarket, this offers everything the cyclist on Mallorca is likely to need
  for a comfortable and fully equipped stay.</p>

<h4>Zafiro Palace Alcudia 5*</h4>
<p>Our new mainstay hotel offers everything that the ‘Tropic’ offers and more! Recently built on a very large site above
  the town this hotel offers breath-taking views in every direction. Facilities are widespread and to a very high
  standard, as you would expect. Fully equipped spa and indoor pool. Exercise suite with panoramic views over the whole
  hotel. 26.14m training pool with year-round heating and reserved lanes for our clients. Suite and Junior suite
  accommodation. Choice of buffet restaurants and themed individual restaurants, fantastic subterranean cycling hub with
  private storage for our client’s bikes, space for working on bikes and nutrition station from which you can fuel for
  the day!</p>

<h4>Can Ribera Muro 4*</h4>
<p>For something different in 2020 we can now offer our bespoke clients boutique accommodation towards the centre of the
  island in the traditional surroundings of Muro. With its narrow-paved streets and back doubles, crowned by its
  magnificent church, this is a breath of fresh air for those that fancy a change from being based on the coast. Being
  in the centre of the island means you can visit previously unreachable destinations, cover pretty much the whole
  island and can start and finish your rides in many new and different directions. Geared mainly for B&B accommodation
  in 21 unique rooms, the hotel has a charming à la carte restaurant on site, or you can visit the many restaurants and
  bars in the town.</p>

<p>Dates vary due to availability, but rest assured we can provide you with an unmatched cycling experience from 1st
  February to 30th April 2020 for our Spring season, and from the 14th September until 30th November 2020 for our Autumn
  season.</p>

<p>With our bespoke packages, the level of support you enjoy is totally up to you and your party. You may want a fully
  serviced trip with transfers, accommodation, a mechanic to build your bikes up, a guide, a support vehicle,
  suggestions on routes and ride destinations, and someone to sort out your evening’s entertainments. On the flipside
  you may be a regular visitor to the island, have a good grasp of its roads, know where you want to go and what you
  want to achieve, and simply want us to remove any possible stress by sorting all the admin for your trip. You may just
  want a one to one guide to join you for a week’s cycling? The possibilities are endless!</p>

<p>All bespoke trips are priced upon application, please press the bespoke enquiry form link below.</p>

<p class="text-center">
<a href="https://form.jotformeu.com/92153165286358" class="btn btn-lg btn-primary">
  Bespoke Holiday Enquiry Form
</a>
</p>
') %>
</div>
