<div class="tinymce-body" id="camps.cycling-and-triathlon.title">
<%== get_text('camps.cycling-and-triathlon.title', '
<h1>Cycling Holidays and Cycling and Triathlon Training Camps</h1>
') %>
</div>

<div class="tinymce-body" id="camps.cycling-and-triathlon.body">
  <%== get_text('camps.cycling-and-triathlon.body', '
<p>We will be offering organised cycling trips on the island commencing on the 1st February 2020. The opening weeks of
  the season will see us based in the 4* Zafiro Tropic Hotel in Alcudia, in the north of the island, a popular and
  comfortable base. Once the season is fully underway on the 22nd February our activities will shift to the 5* Zafiro
  Palace Hotel, also in Alcudia, which sits aloft the town offering a commanding view over both the surrounding area and
  Pollensa Bay. Our Spring camps will run until 30th April 2020. We begin again the Autumn on 14th September until 30th
  November 2020 at the Zafiro Palace Hotel. The season at the Zafiro Tropic Hotel ends on 31st October.</p>

<p>It’s easy to cover huge mileages on the island, with our faster groups regularly covering 400-500 miles in a week on
  the smooth roads that make Mallorca so popular with cyclists and triathletes alike. The island offers every type of
  terrain in a relatively compact area, meaning we can ride on medium mountains, plains, rolling roads and of course
  high mountain passes, all in the course of a week’s cycling. The temperate climate and weather of the Mediterranean
  spring and autumn means that you can train harder, faster and further than would be possible at home.</p>

<p>Our holidays are not just for the hardcore, we provide organised rides for all abilities and aspirations, you don’t
  have to be able to cycle one hundred miles at high speed!! Our wide range of groups, all with experienced guides, mean
  everything is taken care of for you and your party. The routes, the superb café stops, the best viewpoints, the most
  exciting roads. With our support vehicle offering mechanical and medical back-up, all you have to do is ride your
  bike!!</p>

<p>You can of course do your own thing if that suits, but why would you?!</p>
') %>
</div>
