<h1>Zafiro Tropic Hotel – Alcudia</h1>

<%== erb :_carousel, locals: { path: 'zafiro-tropic', count: 3, alt: [
  'The hotel grounds',
  'A small kitchen',
  'Lots of bikes stored on racks',
] } %>

<p>The Zafiro Tropic & Spa Aparthotel is a four-star hotel located in the heart of Alcudia Harbour. Close to restaurants
  and shops, the hotel is also only 200 metres from the magnificent Alcudia Bay.</p>

<p>Renovated in 2009, its comfortable and ample facilities are perfectly suited to the whole family: spacious, elegant
  rooms; three swimming pools; a Spa with an indoor pool, sauna, Turkish bath and Jacuzzi, as well as a fitness room
  .The Zafiro Tropic offers delicious cuisine in each of its buffet, snack and “à la carte” restaurants. All rooms have
  separate bathrooms, television and a kitchenette with a hotplate, fridge and kettle to enable you to enjoy post ride
  refreshments. Our packages are half board so that you can enjoy a hearty pre-ride breakfast whether it be a
  full-English or continental. In the evening you can sit back and relax in the dining room and sample a variety of food
  choices. Free internet access is available in all rooms.</p>

<p>Your (hire) bike is kept in a locked storage room which you access with your room card. The hotel provides a cable
  and padlock when you check in to enable you to secure your bike to a hook, so it’s very secure.
  We have a resident mechanic and there are also many other local bike shops close to the hotel.</p>

<p>There is a supermarket within the hotel and larger supermarkets (Eroski and Lidl) are located within a 5-minute
  walk.</p>

<blockquote class="blockquote">
  <p>
    Zafiro Tropic
    <br>
    C/ Anselm Turmeda, s/n 07410 Puerto de Alcudia
    <br>
    Mallorca
  </p>
</blockquote>
