<div class="p-3 text-center">
  <div class="fs-1 mb-3 fw-bold">
    404: Not Found
  </div>
  <div class="fs-3 mb-3">
    We could not find the requested page.
  </div>
  <div>
    <a href="/" class="btn btn-primary">
      Back to our site
    </a>
  </div>
</div>
