<div class="p-3 text-center">
  <div class="fs-1 mb-3 fw-bold">
    410: Gone
  </div>
  <div class="fs-3 mb-3">
    This page has been removed.
  </div>
  <div>
    <a href="/" class="btn btn-primary">
      Back to our site
    </a>
  </div>
</div>
