
<% if logged_in? %>
  <div class="float-end">
    <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal-edit-text"
            data-bs-text="<%= default %>" data-bs-key="<%= key %>">
      <span class="fa-solid fa-fw fa-pencil" title="Edit Text"></span>
    </button>
  </div>
<% end %>

<%== nl2br default %>
