<div class="row row-cols-1 row-cols-lg-2 bg-white p-3 mb-3 mx-0" style="border-radius: 0.375em">
  <div class="col justify-content-around d-flex">
    <img src="/img/partner/kalas.jpg" alt="Kalas" type="button" data-bs-toggle="modal" data-bs-target="#modal-kalas">
    <img src="/img/partner/zafiro.png" alt="Zafiro Hotels" type="button" data-bs-toggle="modal" data-bs-target="#modal-zafiro">
  </div>
  <div class="col justify-content-around d-flex">
    <img src="/img/partner/secret-training.png" alt="Secret Training" type="button" data-bs-toggle="modal" data-bs-target="#modal-secret-training">
    <img src="/img/partner/colnago.png" alt="Colnago" type="button" data-bs-toggle="modal" data-bs-target="#modal-colnago">
  </div>
</div>

<div class="modal fade" id="modal-kalas" tabindex="-1" aria-labelledby="modal-kalas-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-kalas-label">Kalas Sports Attire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/kalas.jpg" alt="Kalas Logo" aria-hidden="true" class="float-start me-3 mb-3">
        <p>As Kalas' brand ambassador for the Balearic Islands we are ideally placed to assist them in product testing
          and development, as well as general promotion of this premier cycle and sports clothing brand.</p>
        <p>Riding 300-500 miles a week, week in, week out means our Guides need to be comfortable and well equipped in
          durable clothing as well as presenting our professional image to both existing and prospective clients. The
          premium quality Kalas clothing keeps them healthy and relaxed whilst giving them identity and style. As all
          our regular clients also get to experience the Kalas 'touch' when they ride in their complimentary Ciclos
          Major jersey on 'Jersey Day' and hopefully many other days as well!</p>
      </div>
      <div class="modal-footer justify-content-center">
        <a class="btn btn-outline-primary" href="//www.kalas.co.uk/">www.kalas.co.uk</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-zafiro" tabindex="-1" aria-labelledby="modal-zafiro-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-zafiro-label">Zafiro Hotels</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/zafiro.png" alt="Zafiro Logo" aria-hidden="true" class="float-start me-3 mb-3">
        <p>
          Our chosen partner for accommodation on the Island, built through experience and satisfaction over the last
          ten years. Ciclos Major is now working closer than ever with the Zafiro group as their leading contact in the
          UK, and for the US and Canada. Although we have previously been centred on the Zafiro Tropic hotel in Alcudia,
          the addition of the 5* Zafiro Palace, also in Alcudia and the boutique Hotel ‘Can Ribera’ in Muro to our
          portfolio means we are uniquely placed to meet any requirement and indeed, expectation.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <a class="btn btn-outline-primary" href="//www.zafirohotels.com/en/">www.zafirohotels.com/en/</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-secret-training" tabindex="-1" aria-labelledby="modal-secret-training-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-secret-training-label">Secret Training</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/secret-training.png" alt="Secret Training Logo" aria-hidden="true" class="float-start me-3 mb-3">
        <p>
          Our nutrition partner for the past two seasons we're in good company as Secret Training also provide all
          sports nutrition for the Yates brothers and the whole of the Mitchelton-SCOTT World Tour Professional team.
          With the creation of Ciclos Major we have cemented our relationship with this valued partner and we are now in
          a position to provide all your sports nutrition needs for your stay, meaning you don’t have to lug weighty
          powders and gels to the island, plus you get to be involved in product testing and development as well as
          getting a chance to try exciting new products such as their unique Juice Bars and Protein Energy Gels! We plan
          to get Secret Training's owner and brand inspirator Tim Lawson over to the island on occasion to present his
          products and the science behind them, in return he gets some direct customer feedback!
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <a class="btn btn-outline-primary" href="//www.secret-training.com">www.secret-training.com</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-colnago" tabindex="-1" aria-labelledby="modal-colnago-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-colnago-label">Colnago Bikes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/colnago.png" alt="Colnago Logo" aria-hidden="true" class="float-start me-3 mb-3">
        <p>
          Our supplier of 'weapons of speed' needs little introduction as Colnago has been one of the premier bicycle
          brands since the company’s formation in 1954. With such landmarks as producing 20 bikes a year for the great
          Eddy Merckx, as well as his hour record bike in 1972,a collaboration with Ferrari that has led to huge
          advances in composite technology, ground breaking frames in steel, titanium and aluminium, through to being
          perhaps the last producer of hand built carbon lugged and tubed frames still 100% 'Made in Italy'. Colnago are
          still supplying World Tour professional quality bikes after 65 years of trading and given our senior Guide
          Antony's fascination with the brand, a more formal partnership was always on the cards! The first choice of
          steed for many of our experienced team, you'll get to see the latest Colnago developments in action when you
          train and ride with Ciclos Major.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <a class="btn btn-outline-primary" href="//www.colnago.com">www.colnago.com</a>
      </div>
    </div>
  </div>
</div>
