<div class="row d-md-none row-cols-1 partners-links">
  <div class="col">
    <img src="/img/partner/kalas.jpg" alt="Kalas" type="button" data-bs-toggle="modal" data-bs-target="#modal-kalas">
    <img src="/img/partner/zafiro.png" alt="Zafiro Hotels" type="button" data-bs-toggle="modal" data-bs-target="#modal-zafiro">
  </div>
  <div class="col">
    <img src="/img/partner/secret-training.png" alt="Secret Training" type="button" data-bs-toggle="modal" data-bs-target="#modal-secret-training">
    <img src="/img/partner/rose.png" alt="Rose" type="button" data-bs-toggle="modal" data-bs-target="#modal-rose">
  </div>
  <div class="col">
    <img src="/img/partner/tpr.png" alt="TPR" type="button" data-bs-toggle="modal" data-bs-target="#modal-tpr">
  </div>
</div>

<div class="row d-none d-md-flex d-xl-none row-cols-1 partners-links">
  <div class="col">
    <img src="/img/partner/kalas.jpg" alt="Kalas" type="button" data-bs-toggle="modal" data-bs-target="#modal-kalas">
    <img src="/img/partner/zafiro.png" alt="Zafiro Hotels" type="button" data-bs-toggle="modal" data-bs-target="#modal-zafiro">
  </div>
  <div class="col">
    <img src="/img/partner/secret-training.png" alt="Secret Training" type="button" data-bs-toggle="modal" data-bs-target="#modal-secret-training">
    <img src="/img/partner/rose.png" alt="Rose" type="button" data-bs-toggle="modal" data-bs-target="#modal-rose">
    <img src="/img/partner/tpr.png" alt="TPR" type="button" data-bs-toggle="modal" data-bs-target="#modal-tpr">
  </div>
</div>

<div class="row d-none d-xl-flex partners-links">
  <div class="col">
    <img src="/img/partner/kalas.jpg" alt="Kalas" type="button" data-bs-toggle="modal" data-bs-target="#modal-kalas">
    <img src="/img/partner/zafiro.png" alt="Zafiro Hotels" type="button" data-bs-toggle="modal" data-bs-target="#modal-zafiro">
    <img src="/img/partner/secret-training.png" alt="Secret Training" type="button" data-bs-toggle="modal" data-bs-target="#modal-secret-training">
    <img src="/img/partner/rose.png" alt="Rose" type="button" data-bs-toggle="modal" data-bs-target="#modal-rose">
    <img src="/img/partner/tpr.png" alt="TPR" type="button" data-bs-toggle="modal" data-bs-target="#modal-tpr">
  </div>
</div>

<div class="modal fade partner-modal" id="modal-kalas" tabindex="-1" aria-labelledby="modal-kalas-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-kalas-label">Kalas Sports Attire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/kalas.jpg" alt="Kalas Logo" aria-hidden="true">
        <p>As Kalas' brand ambassador for the Balearic Islands we are ideally placed to assist them in product testing
          and development, as well as general promotion of this premier cycle and sports clothing brand.</p>
        <p>Riding 300-500 miles a week, week in, week out means our Guides need to be comfortable and well equipped in
          durable clothing as well as presenting our professional image to both existing and prospective clients. The
          premium quality Kalas clothing keeps them healthy and relaxed whilst giving them identity and style. As all
          our regular clients also get to experience the Kalas 'touch' when they ride in their complimentary Ciclos
          Major jersey on 'Jersey Day' and hopefully many other days as well!</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-primary" href="//www.kalas.co.uk/" target="_blank">www.kalas.co.uk</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade partner-modal" id="modal-zafiro" tabindex="-1" aria-labelledby="modal-zafiro-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-zafiro-label">Zafiro Hotels</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/zafiro.png" alt="Zafiro Logo" aria-hidden="true">
        <p>
          Our chosen partner for accommodation on the Island, built through experience and satisfaction over the last
          ten years. Ciclos Major is now working closer than ever with the Zafiro group as their leading contact in the
          UK, and for the US and Canada. Although we have previously been centred on the Zafiro Tropic hotel in Alcudia,
          the addition of the 5* Zafiro Palace, also in Alcudia and the boutique Hotel ‘Can Ribera’ in Muro to our
          portfolio means we are uniquely placed to meet any requirement and indeed, expectation.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-primary" href="//www.zafirohotels.com/en/" target="_blank">www.zafirohotels.com/en/</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade partner-modal" id="modal-secret-training" tabindex="-1" aria-labelledby="modal-secret-training-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-secret-training-label">Secret Training</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/secret-training.png" alt="Secret Training Logo" aria-hidden="true">
        <p>
          Our nutrition partner for the past two seasons we're in good company as Secret Training also provide all
          sports nutrition for the Yates brothers and the whole of the Mitchelton-SCOTT World Tour Professional team.
          With the creation of Ciclos Major we have cemented our relationship with this valued partner and we are now in
          a position to provide all your sports nutrition needs for your stay, meaning you don’t have to lug weighty
          powders and gels to the island, plus you get to be involved in product testing and development as well as
          getting a chance to try exciting new products such as their unique Juice Bars and Protein Energy Gels! We plan
          to get Secret Training's owner and brand inspirator Tim Lawson over to the island on occasion to present his
          products and the science behind them, in return he gets some direct customer feedback!
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-primary" href="//www.secret-training.com" target="_blank">www.secret-training.com</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade partner-modal" id="modal-rose" tabindex="-1" aria-labelledby="modal-rose-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-rose-label">Rose Bikes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/rose.png" alt="Rose Logo" aria-hidden="true">
        <p>
          ROSE Bikes offer you a wide range of bikes tailored to different needs and riding styles:
          <br>
          Road Bikes - designed for top performance and speed on the road
          <br>
          Versatile Gravel Bikes - the all-rounders among bicycles
          <br>
          They combine the speed of a road bike with the off-road capability of a mountain bike and are ideal for
          different surfaces – whether tarmac, gravel or forestry tracks;
          <br>
          Robust Mountain Bikes are optimised for off-road use and therefore have suspension forks and robust, sometimes
          full-suspension frames - as a result, they offer excellent control and stability on demanding trails
          and finally Comfortable Urban and Hybrid Bikes include bikes that are designed for daily use and/or long
          tours.
          <br>
          These bikes combine comfort, reliability and practical features suitable for everyday use.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-primary" href="//www.rosebikes.com" target="_blank">www.rosebikes.com</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade partner-modal" id="modal-tpr" tabindex="-1" aria-labelledby="modal-tpr-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-tpr-label">Rose Bikes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/img/partner/tpr.png" alt="TPR Logo" aria-hidden="true">
        <p>
          Established in 2012 TPR Community Interest Company have been delivering a mixture of award-winning community
          projects, grassroots cycle racing, coaching for young riders and creating some of the most loved
          non-competitive mass participation cycling events in East Anglia for riders of all ages and abilities.
          They remain an organisation with an enduring aim to engage, inspire and enable riders to enjoy an active and
          healthy lifestyle using cycling as our vehicle and become a force for positivity within their community.
        </p>
        <p>
          They are a small passionate professional events business dedicated to delivering high quality value for money
          all-inclusive events that we would enjoy riding ourselves. For big events we are delighted and very thankful
          to have the willing support and plentiful encouragement of a wide group of friends, family and dedicated
          volunteers who all share our passion for what we do.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-primary" href="//thepedalrevolution.co.uk/" target="_blank">thepedalrevolution.co.uk</a>
      </div>
    </div>
  </div>
</div>
