
<table class="table text-end">
  <thead>
  <tr>
    <th>Day</th>
    <th>€ / day</th>
    <th>Total Price</th>
  </tr>
  </thead>
  <tbody>
  <% price_list(prices, days).each do |d| %>
  <tr>
    <td><%= d[:day] %></td>
    <td>€<%= sprintf('%.2f', d[:price]) %></td>
    <td>€<%= sprintf('%.2f', d[:total]) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
