
<h3>Price List</h3>
<p>
  Including Bike Insurance and Cleaning (€2.50 / day)
</p>
<table class="table text-end table-striped">
  <thead>
  <tr>
    <th>Day</th>
    <th>€ / day</th>
    <th>Hire Price</th>
  </tr>
  </thead>
  <tbody>
  <% price_list_per_day(prices, days).each do |d| %>
  <tr>
    <td><%= d[:day] %></td>
    <td>€<%= sprintf('%.2f', d[:price]) %></td>
    <td>€<%= sprintf('%.2f', d[:total]) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
