<h1>About Us</h1>
<img class="img-fluid mx-auto d-block mb-3" src="/img/about-us/about-us.jpg" alt="Antony, Liz and Darryl in Ciclos Major cycling kit">
<p>
  Ciclos Major is the brainchild of Darryl Leese, who has been providing cycling training camps and holidays on the
  island of Mallorca for the past 15 years. Having formed a new management team with Liz Rooney and Antony Stapleton,
  Darryl has set about offering something different for 2020, realising that whilst for some it’s all new, for many,
  having visited the island several times, Mallorca is no longer a novelty, or an adventure. That shouldn’t be the case,
  so it’s time to put the buzz back into Mallorca!
</p>
<p>
  With a new base, and an enhanced team offering full support to the triathlete as well as the cyclist, Ciclos Major
  offers a fresh approach to training and cycling in Mallorca, offering high class accommodation, with high quality food
  and total daily back-up during activities, meaning our athletes will want for nothing during their stay.
</p>
