<%== erb :_tinymce, locals: { id: "arrivals.title" } %>

<%== erb :_tinymce, locals: { id: "arrivals.body" } %>

<p class="text-center">
  <img class="img-fluid" src="/img/arrivals/trailer.jpg" alt="A large 9 seater minivan with a large trailer for carrying bikes">
</p>
