<h1>Bike Rental in Mallorca</h1>

<p>We are pleased to be able to offer a range of hire bikes that are being hired out by Bikefriends Schon GmbH who are
  based in the Zafiro Palace Hotel in Alcudia. If you are joining us on one of our cycling holidays in the Spring or
  Autumn, you can hire a high-quality ROSE bike at the bike station at the Zafiro Palace Hotel. Thanks to Bikefriends
  Schon’s cooperation with one of the leading bike manufacturers, they
  have the latest and highest quality bikes on offer for you at favourable rates.</p>

<p>They will take care to ensure that you have a bike that is the right size and will advise on saddles etc. Their
  friendly mechanics in their own workshop ensure that chains. rims, spokes etc. are always in the best condition.</p>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  A final cleaning charge of €10 will also be charged.
</div>

<div class="alert alert-info">
  <span class="fa-solid fa-fw fa-info-circle"></span>
  Please note that the bikes have no pedals – please bring your own pedals!
</div>

<h2>Team GF Six Disc Di2 Carbon Wheel – The Marathon Racer</h2>
<div class="row">
  <div class="col-8">

    <%== erb :_carousel, locals: { path: 'bike-gf-six-disc', count: 2, alt: [
      'Team GF Six Disc Di2 Carbon Wheel',
      'Team GF Six Disc Di2 Carbon Wheel',
    ] } %>

    <p>This marathon racing bike with a sporty seating position. Ideal for everyone who is looking for a comfortable
      racing bike for distances of over 100km and does not want to forego "speed"! Its low weight (7.2kg) allows it to
      fly up the mountain and the snappy disc brakes (160mm v / h) also decelerate downhill without any problems. On the
      flat, its high-profile carbon rims provide powerful propulsion. Another highlight are the lightning-fast gear
      changes of the electronic gearshift from Shimano.</p>

    <div class="list-group bg-transparent">
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Frame</span>: High Modulus Aerospace Carbon Fibre T40 / 60, HOC-Technology, from approx. 890g
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Crank</span>: Shimano Ultegra FC-R8000 50/34
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Sprocket</span>: Shimano Ultegra CS-R8000 11-32
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Brake</span>: Shimano Ultegra Disc 160mm
      </div>
      <div class="list-group-item bg-transparent">
        <span class="fw-bold">Available Frame Sizes</span>: 50, 53, 55, 57, 59, 61, 64
      </div>
    </div>
  </div>

  <div class="col-4">
    <h3>Price List</h3>
    <p>
      Including Bike Insurance (€2.50 / day)
    </p>
    <%== erb :_rental_price_list, locals: { days: 15, prices: { 1 => 28.50, 8 => 26, 11 => 23.50 } } %>
  </div>
</div>
