<script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>

<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>

<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.12310" type="text/javascript"></script>

<script type="text/javascript">

    JotForm.init(function(){

        /*INIT-END*/

    });



    JotForm.prepareCalculationsOnTheFly([null,null,{"name":"submitForm","qid":"2","text":"Submit Form","type":"control_button"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"yourName","qid":"45","text":"Your Name:","type":"control_fullname"},null,null,{"name":"emailAddress","qid":"48","text":"Email Address:","type":"control_email"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"mobileNumber","qid":"79","text":"Mobile Number:","type":"control_phone"},null,null,null,null,null,null,null,{"name":"clickTo87","qid":"87","text":"Ciclos Major Contact Form\n&nbsp;","type":"control_text"},{"description":"","name":"typeA","qid":"88","subLabel":"","text":"Your Message","type":"control_textarea"}]);

    setTimeout(function() {

        JotForm.paymentExtrasOnTheFly([null,null,{"name":"submitForm","qid":"2","text":"Submit Form","type":"control_button"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"yourName","qid":"45","text":"Your Name:","type":"control_fullname"},null,null,{"name":"emailAddress","qid":"48","text":"Email Address:","type":"control_email"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"mobileNumber","qid":"79","text":"Mobile Number:","type":"control_phone"},null,null,null,null,null,null,null,{"name":"clickTo87","qid":"87","text":"Ciclos Major Contact Form\n&nbsp;","type":"control_text"},{"description":"","name":"typeA","qid":"88","subLabel":"","text":"Your Message","type":"control_textarea"}]);}, 20);

</script>

<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.12310" rel="stylesheet" type="text/css">

<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.12310">

<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.12310">

<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=5cf39fbd544a5401541a4081">

<style type="text/css">

    .form-label-left{

        width:170px;

    }

    .form-line{

        padding-top:12px;

        padding-bottom:12px;

    }

    .form-label-right{

        width:170px;

    }

    .form-all{

        width:690px;

        color:#555 !important;

        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;

        font-size:14px;

    }

    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{

        color: false;

    }



</style>



<style type="text/css" id="form-designer-style">

    /* Injected CSS Code */

    .form-label.form-label-auto {



        display: inline-block;

        float: left;

        text-align: left;



    }/*PREFERENCES STYLE*/

    .form-all {

        font-family: Lucida Grande, sans-serif;

    }

    .form-all .qq-upload-button,

    .form-all .form-submit-button,

    .form-all .form-submit-reset,

    .form-all .form-submit-print {

        font-family: Lucida Grande, sans-serif;

    }

    .form-all .form-pagebreak-back-container,

    .form-all .form-pagebreak-next-container {

        font-family: Lucida Grande, sans-serif;

    }

    .form-header-group {

        font-family: Lucida Grande, sans-serif;

    }

    .form-label {

        font-family: Lucida Grande, sans-serif;

    }



    .form-label.form-label-auto {



        display: inline-block;

        float: left;

        text-align: left;



    }



    .form-line {

        margin-top: 12px 36px 12px 36px px;

        margin-bottom: 12px 36px 12px 36px px;

    }



    .form-all {

        width: 690px;

    }



    .form-label-left,

    .form-label-right,

    .form-label-left.form-label-auto,

    .form-label-right.form-label-auto {

        width: 170px;

    }



    .form-all {

        font-size: 14px

    }

    .form-all .qq-upload-button,

    .form-all .qq-upload-button,

    .form-all .form-submit-button,

    .form-all .form-submit-reset,

    .form-all .form-submit-print {

        font-size: 14px

    }

    .form-all .form-pagebreak-back-container,

    .form-all .form-pagebreak-next-container {

        font-size: 14px

    }



    .supernova .form-all, .form-all {

        background-color: #fff;

        border: 1px solid transparent;

    }



    .form-all {

        color: #555;

    }

    .form-header-group .form-header {

        color: #555;

    }

    .form-header-group .form-subHeader {

        color: #555;

    }

    .form-label-top,

    .form-label-left,

    .form-label-right,

    .form-html,

    .form-checkbox-item label,

    .form-radio-item label {

        color: #555;

    }

    .form-sub-label {

        color: #6f6f6f;

    }



    .supernova {

        background-color: #ffffff;

    }

    .supernova body {

        background: transparent;

    }



    .form-textbox,

    .form-textarea,

    .form-radio-other-input,

    .form-checkbox-other-input,

    .form-captcha input,

    .form-spinner input {

        background-color: #fff;

    }



    .supernova {

        background-image: none;

    }

    #stage {

        background-image: none;

    }



    .form-all {

        background-image: none;

    }



    .form-all {

        position: relative;

    }

    .form-all:before {

        content: "";

        background-image: url("https://www.jotform.com/uploads/DarrylLeese/form_files/CM Logo Purple Background.5d14d001c89672.68678703.jpg");

        display: inline-block;

        height: 140px;

        position: absolute;

        background-size: 342px 140px;

        background-repeat: no-repeat;

        width: 100%;

    }

    .form-all {

        margin-top: 150px !important;

    }

    .form-all:before {

        top: -150px;

        background-position: top center;

    }



    .ie-8 .form-all:before { display: none; }

    .ie-8 {

        margin-top: auto;

        margin-top: initial;

    }



    /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/

    /* Injected CSS Code */

</style>



<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-steel.css?3.3.12310">

<form class="jotform-form" action="https://submit.jotformeu.com/submit/92143239737360/" method="post" name="form_92143239737360" id="92143239737360" accept-charset="utf-8">

  <input type="hidden" name="formID" value="92143239737360">

  <div role="main" class="form-all">

    <ul class="form-section page-section">

      <li class="form-line" data-type="control_text" id="id_87">

        <div id="cid_87" class="form-input-wide">

          <div id="text_87" class="form-html" data-component="text">

            <p style="text-align: center;"><span style="color: #ff00ff; font-size: 24pt; font-family: arial, helvetica, sans-serif;">Ciclos Major Contact Form</span></p>

            <p style="text-align: center;"> </p>

          </div>

        </div>

      </li>

      <li class="form-line jf-required" data-type="control_fullname" id="id_45">

        <label class="form-label form-label-left" id="label_45" for="first_45">

          Your Name:

          <span class="form-required">

            *

          </span>

        </label>

        <div id="cid_45" class="form-input jf-required">

          <div data-wrapper-react="true">

            <span class="form-sub-label-container" style="vertical-align:top">

              <input type="text" id="first_45" name="q45_yourName[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_45 sublabel_45_first" required="">

              <label class="form-sub-label" for="first_45" id="sublabel_45_first" style="min-height:13px"> First Name </label>

            </span>

            <span class="form-sub-label-container" style="vertical-align:top">

              <input type="text" id="last_45" name="q45_yourName[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_45 sublabel_45_last" required="">

              <label class="form-sub-label" for="last_45" id="sublabel_45_last" style="min-height:13px"> Last Name </label>

            </span>

          </div>

        </div>

      </li>

      <li class="form-line jf-required" data-type="control_phone" id="id_79" data-compound-hint="+44,,">

        <label class="form-label form-label-left" id="label_79" for="input_79_country">

          Mobile Number:

          <span class="form-required">

            *

          </span>

        </label>

        <div id="cid_79" class="form-input jf-required">

          <div data-wrapper-react="true">

            <span class="form-sub-label-container" style="vertical-align:top">

              <input type="tel" id="input_79_country" name="q79_mobileNumber[country]" class="form-textbox validate[required]" size="6" value="" placeholder="+44" data-component="countryCode" aria-labelledby="label_79 sublabel_79_country" required="">

              <span class="phone-separate" aria-hidden="true">

                 -

              </span>

              <label class="form-sub-label" for="input_79_country" id="sublabel_79_country" style="min-height:13px"> Country Code </label>

            </span>

            <span class="form-sub-label-container" style="vertical-align:top">

              <input type="tel" id="input_79_area" name="q79_mobileNumber[area]" class="form-textbox validate[required]" size="6" value="" data-component="areaCode" aria-labelledby="label_79" required="">

              <span class="phone-separate" aria-hidden="true">

                 -

              </span>

              <label class="form-sub-label" for="input_79_area" id="sublabel_79_area" style="min-height:13px">  </label>

            </span>

            <span class="form-sub-label-container" style="vertical-align:top">

              <input type="tel" id="input_79_phone" name="q79_mobileNumber[phone]" class="form-textbox validate[required]" size="12" value="" data-component="phone" aria-labelledby="label_79" required="">

              <label class="form-sub-label" for="input_79_phone" id="sublabel_79_phone" style="min-height:13px">  </label>

            </span>

          </div>

        </div>

      </li>

      <li class="form-line jf-required" data-type="control_email" id="id_48">

        <label class="form-label form-label-left" id="label_48" for="input_48">

          Email Address:

          <span class="form-required">

            *

          </span>

        </label>

        <div id="cid_48" class="form-input jf-required">

          <input type="email" id="input_48" name="q48_emailAddress" class="form-textbox validate[required, Email]" size="40" value="" data-component="email" aria-labelledby="label_48" required="">

        </div>

      </li>

      <li class="form-line jf-required" data-type="control_textarea" id="id_88">

        <label class="form-label form-label-left" id="label_88" for="input_88">

          Your Message

          <span class="form-required">

            *

          </span>

        </label>

        <div id="cid_88" class="form-input jf-required">

          <textarea id="input_88" class="form-textarea validate[required]" name="q88_typeA" cols="40" rows="10" data-component="textarea" required="" aria-labelledby="label_88"></textarea>

        </div>

      </li>

      <li class="form-line" data-type="control_button" id="id_2">

        <div id="cid_2" class="form-input-wide">

          <div style="margin-left:156px" class="form-buttons-wrapper">

            <button id="input_2" type="submit" class="form-submit-button form-submit-button-steel" data-component="button">

              Submit Form

            </button>

          </div>

        </div>

      </li>

      <li style="display:none">

        Should be Empty:

        <input type="text" name="website" value="">

      </li>

    </ul>

  </div>

  <script>

      JotForm.showJotFormPowered = "old_footer";

  </script>

  <input type="hidden" id="simple_spc" name="simple_spc" value="92143239737360">

  <script type="text/javascript">

      document.getElementById("si" + "mple" + "_spc").value = "92143239737360-92143239737360";

  </script>

</form>
