<h1>Frequently Asked Questions</h1>

<div class="accordion" id="faq-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
        Why Choose Ciclos Major?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>We pride ourselves on giving our clients a total experience when they travel with us, and to that end there
          are certain things we don’t do... we don’t just take the easy route and simply deliver our clients to the same
          old ‘honeypots’ that feature in every cycling magazine, and we don’t just follow the same routes, week in,
          week out!
        </p>
        <p>What we DO strive to do is to give our clients a total experience by constantly revising our routes,
          villages,climbs and cafe stops, we DO make sure when cycling our clients get to ride on different and exciting
          routes, using all our guides vast knowledge of the Islands roads and routes. For those looking for multi-sport
          training we aim to provide the very finest facilities and support. We DO strive to make sure our client’s
          needs and expectations are met, and in terms of training we don’t only aim for them to return from their break
          a faster, fitter, or stronger athlete, we aim for them to return as a MORE COMPLETE athlete! We DO also
          understand that our clients are having a well-earned break from their daily lives, so we offer a social
          programme to enable them to not just remember the riding when they return home. We have a network of local
          bars, restaurants and cafes who always offer a warm welcome to our clients. For our clients who like to head
          out in the evening we even slot in a bit of down time to take in some of the local culture, such as live music
          and cultural events.
        </p>
        <p>We’ll give you a trip to remember, just let us show you how!</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
        What is included in the price?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>If you are booking one of our organised holidays or camps then the price includes: Half board accommodation
          (breakfast and evening meal) at either the 4* Zafiro Tropic or 5* Zafiro Palace hotels in Alcudia; free wifi;
          guided rides; free goody bag containing a Ciclos Major cycling jersey, two bike bottles, cycling food, bars
          and gels and a wallet.</p>

        <p>Bespoke camps and camps organised for specific groups are subject to agreement with the group organiser.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
        What facilities do the hotels provide?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>In the <span class="fw-bold">Zafiro Tropic</span> each room has: a kitchenette with a microwave, kettle, hob
          and fridge. There is a
          separate bathroom with shower, basin and hairdryer. There is a storage area on the ground floor where you must
          store your bike. The hotel will provide you with a padlock to lock your bike to the rack. Within the hotel
          complex there are pay to use washing machines and dryers. The hotel has a small supermarket, a small indoor
          pool and offers a massage service.</p>
        <p>In the <span class="fw-bold">Zafiro Palace</span> each suite room has a microwave, kettle, coffee machine and
          a mini bar. There is a
          bathroom with shower, bath, basin and hairdryer. We have our own dedicated storage area underneath the hotel
          where you must store your bike. Within the hotel complex there are washing pay to use machines and dryers. The
          hotel has numerous pools included a heated 26.1m pool, a gym suite and offers a massage service.</p>
        <p>Both hotels offer a high degree of luxury as you would expect with spacious, relaxing bar areas with drink,
          food
          and snacks available throughout the day.</p>
        <p>Evening entertainment is sporadic early in the season, becoming more frequent as the season progresses. The
          staff
          across the Zafiro Group are both welcoming and helpful.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
        What is the Mallorca Tourist Tax?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        The Mallorcan Government has imposed a tourist tax on all visitors to the island, payable directly to the hotel.
        This will be added to your bill (as will drinks and other purchases at the hotel) and must be settled on
        departure.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
        Can I come for any length of time?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        You can come for any length of time and arrive and depart on any day of the week. Please bear in mind that
        shared transfers are only available on Saturdays and so transfers are likely to be more expensive on other days.
        We generally have a short easy ride on Wednesdays and there are no organised rides on Saturdays.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
              aria-expanded="true" aria-controls="collapseSix">
        Can non-cycling partners come on the holiday?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        Of course, they can. There are several partners, parents, children and even grandchildren that come to our
        holidays. There is plenty for them to do in Alcudia and further afield: visiting local markets, day excursions;
        the beach; the spa or they may decide to relax by the pool.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
              aria-expanded="true" aria-controls="collapseSeven">
        Is there a discount for non-cycling partners?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We offer non cyclists a discount of £75 (£130 for 2024) as they will not receive the goody bag (except for the wallet).
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight"
              aria-expanded="true" aria-controls="collapseEight">
        What travel insurance do I need?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>Medical/Travel insurance is essential with a good level of cover and is one of the conditions of coming on
          these holidays. You should also obtain a European Health Insurance Card (EHIC) if you are a UK or EU. The EHIC
          can be applied for online and takes 7-10 days to arrive after application.</p>
        <p>There are numerous insurance companies who provide cover that includes a variety of sports and
          activities.</p>
        <p>We recommend that you take out cover to at least the minimum levels below:</p>
        <ul>
          <li>Cancellation or curtailment – £3000</li>
          <li>Medical emergency, repatriation and associated expenses – £2 million</li>
          <li>Personal accident – £15,000</li>
          <li>Missed departure – £500 (Europe) £1000 (outside Europe)</li>
          <li>Departure delay – £60 (abandonment – £3000)</li>
          <li>Baggage and personal effects – £2000</li>
          <li>Personal money – £500</li>
          <li>Personal liability (third party cover) – £2 million</li>
          <li>Legal expenses – £25,000</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine"
              aria-expanded="true" aria-controls="collapseNine">
        Do you arrange Airport Transfers?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        Yes, we arrange airport transfers for those who require them. As normal, shared group
        transfers are available on Saturdays and are scheduled to meet most flights throughout the day and are included
        in the cost of the holiday.. Transfers on other days may incur an additional cost subject to demand.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen"
              aria-expanded="true" aria-controls="collapseTen">
        I’m Vegetarian, Vegan or have a food allergy.
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        The price of your holiday includes half-board accommodation and breakfast and evening meals are taken in the
        restaurants at the Zafiro Tropic and Zafiro Palace hotels. Both hotels provide amply for vegetarians, vegans and
        those with special dietary requirements.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEleven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven"
              aria-expanded="true" aria-controls="collapseEleven">
        What group do I choose?
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>If you have not been with us before and you are not certain we always suggest that on the first day you start
          in a group one lower from what you think you should be in rather than one higher. There is always the
          opportunity to change groups at lunch time. Please check with the guides if you are unsure.</p>
        <p>If our guides think you are not at the right level for the group, they will suggest you move groups. Please
          understand that this suggestion will be made both for the benefit of you and the group as a whole.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwelve">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
              aria-expanded="true" aria-controls="collapseTwelve">
        What level of groups do you offer / How long are the rides and how fast do you go?
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>We have 5 or 6 levels of groups, depending on demand as follows (average speeds are for flat rides):</p>

        <h3>Espresso/Double Espresso</h3>
        <p>These groups are for fit and fast racing, sportive and Tri riders who want to test their fitness over rides
          which range from 120 to 180kms in length. Speed is normally around or above 30 km/h on anything other than a
          full mountain day. Given their length riders in these groups will cover all but the far western extremities of
          the island over the course of a week’s stay. Mountain rides are a staple diet of this group, although we
          ensure
          that a balance of rides over the week means you’ll see all the island has to offer and not burn ‘too many
          matches’ too soon!</p>

        <h3>Americano Group</h3>
        <p>This group is for strong riders looking for a challenging ride, but perhaps at a slightly steadier pace than
          in
          our Espresso groups. Covering similar high distances as our lead groups, but at a slightly steadier average of
          26-28 km/h, this will still be a meaningful day in the saddle for the more serious rider.</p>

        <h3>Cappuccino Group</h3>
        <p>This group is for good club riders looking for a fairly challenging but enjoyable day out on the bike. 100 to
          130
          kms at an average of approximately 25 kph. Mountains are climbed at your own pace with a lot of encouragement
          and
          reward. A guide will always follow the last rider to the top to ensure we all arrive safely.</p>

        <h3>Café Latte Group</h3>
        <p>This group rides a similar distance to our Cappuccino riders but at an easier average pace of 22/23 kph and
          usually
          there is the option to avoid the big climbs up to or over the mountain.</p>

        <h3>Affogato Group</h3>
        <p>An easy ride around the local area of up to 40 to 60 kms with one or two café stops. 15 to 18 kph
          average.</p>

        <h3>Women Only Groups</h3>
        <p>If there is demand, we will offer or organise a Women Only rides led by one of our guides.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThirteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
              aria-expanded="true" aria-controls="collapseThirteen">
        How many guides are there and how big are the groups?
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        There will always be one guide and if the size of the group warrants it there will also be an assistant guide.
        Our groups are never more than twenty riders.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFourteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
              aria-expanded="true" aria-controls="collapseFourteen">
        What if I am not fit enough?
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We believe that we offer a range of group levels to meet all needs. We do recommend that you try to achieve some
        riding before you join us. Then you will benefit more from coming to Mallorca.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFifteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen"
              aria-expanded="true" aria-controls="collapseFifteen">
        Will you wait if I get a puncture/mechanical problem or I can’t keep up?
      </button>
    </h2>
    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We operate a no-drop policy so we will help you or wait for you. If you are struggling in a particular group,
        you can change down to an easier group (even at lunch time)
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSixteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen"
              aria-expanded="true" aria-controls="collapseSixteen">
        I’m not very good at climbing or descending, will you wait?
      </button>
    </h2>
    <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        On the big climbs we let everybody climb and descend at their own pace then re-group at the top or bottom (often
        with a cup of coffee). Guides will generally ride at the rear of the group to ensure everyone gets up smoothly
        and down safely! One of the big benefits of riding with us is that our guides can give you help on both these
        fronts and many others, passing knowledge day by day on specific topics.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeventeen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen"
              aria-expanded="true" aria-controls="collapseSeventeen">
        Do you have to ride every day?
      </button>
    </h2>
    <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        No, it is your holiday and you are free to do as you please. If you wish to have a day free from cycling, you
        are free to do so.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEighteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen"
              aria-expanded="true" aria-controls="collapseEighteen">
        Do I need a map?
      </button>
    </h2>
    <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="headingEighteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        Only if you are interested in seeing where you have been. Our guides will lead you around the island leaving you
        to enjoy the scenery that Mallorca has to offer.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingNineteen">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen"
              aria-expanded="true" aria-controls="collapseNineteen">
        Do we have café / lunch stops?
      </button>
    </h2>
    <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>Most definitely! Depending on the nature of the ride, the level of group and the weather we may have more
          than one. For all groups apart from the Affogato group, we generally try to meet in the same village/town/peak
          so that you can replenish your bidons.</p>
        <p>Purchases made at these stops is for the account of individual riders.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwenty">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty"
              aria-expanded="true" aria-controls="collapseTwenty">
        Is there a following car?
      </button>
    </h2>
    <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>We will have one support car out on the road with us who will follow one of the groups. They will provide
          support for all groups during the day. At lunch times they will be available to refill bidons. They will be
          available to carry jackets etc. but bear in mind they may not be with your group when you need it. We cannot
          guarantee that the support car will be there all day if they have to provide mechanical or medical assistance.
          In such cases ride leaders will arrange the local supply of water.</p>
        <p>All riders need to ride on the basis of being self-sufficient (carry own spares/pump/water/gels etc.)</p>
        <p>Guides will contact the support car on your behalf in the event of a mechanical failure/accident or a rider
          feeling unwell.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyOne"
              aria-expanded="true" aria-controls="collapseTwentyOne">
        Do I need to bring my own bike?
      </button>
    </h2>
    <div id="collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="headingTwentyOne" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        It is not necessary though lots do. Please see our <a href="/bike-rental">bike rental page</a> for further details. Ciclos Major is not a
        party to any contract that a participant has with a local bike hire company. We do recommend that you take out
        insurance for the bike that you hire.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyTwo"
              aria-expanded="true" aria-controls="collapseTwentyTwo">
        What type of bike do I need? Can I bring / use an E-bike?
      </button>
    </h2>
    <div id="collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="headingTwentyTwo" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        <p>We recommend that you bring or hire a road bike. The possibility to hire e-bikes is now available on the
          island. If you intend to bring you own e-bike please check the conditions of carriage with your carrier,</p>
        <p>Your bike will need to be in in good working order, please pay attention to tyres, gears and chain and that
          these all run smoothly. Cycling shoes and clipless pedals are strongly recommended.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyThree"
              aria-expanded="true" aria-controls="collapseTwentyThree">
        How many days cycling do you offer?
      </button>
    </h2>
    <div id="collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="headingTwentyThree" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We generally offer longer rides on Sundays, Mondays, Tuesdays, Thursdays and Fridays. On Wednesdays rather than
        riding in our groups we offer a recovery ride of no more than 30km at a very slow speed with a café stop. The
        rides are arranged based on going to a location not on distance or speed and all participants will be able to
        take part in all groups.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFour"
              aria-expanded="true" aria-controls="collapseTwentyFour">
        Can I ride some of the famous climbs?
      </button>
    </h2>
    <div id="collapseTwentyFour" class="accordion-collapse collapse" aria-labelledby="headingTwentyFour" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        Yes – Generally in the course of a week’s riding we would expect our most enthusiastic clients to have tackled
        several of the Islands major climbs. Even our steadier groups will visit a selection of the Islands iconic
        climbs.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFive"
              aria-expanded="true" aria-controls="collapseTwentyFive">
        What is the weather like and what cycling clothes should I bring?
      </button>
    </h2>
    <div id="collapseTwentyFive" class="accordion-collapse collapse" aria-labelledby="headingTwentyFive" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        Mallorca enjoys a Mediterranean climate, but you should be prepared for the occasional wet day or cooler day and
        it can be considerably cooler in the mountains, especially when descending in the afternoon. We suggest that you
        bring arm and leg warmers, gloves, a gilet and rain jacket. You will also require some form of sun cream as the
        sun can be quite strong even in February or March.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentySix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySix"
              aria-expanded="true" aria-controls="collapseTwentySix">
        What cycling kit should I bring with me?
      </button>
    </h2>
    <div id="collapseTwentySix" class="accordion-collapse collapse" aria-labelledby="headingTwentySix" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        There are washing machines in both hotels and it is also possible to hand wash your kit so we suggest you bring
        3 pairs of shorts, 3 jerseys, 3 pairs of cycling socks, 3 undervests, 1 pair of arm and leg warmers, cycling
        gloves, full gloves and overshoes (just in case), a rain jacket, gilet, helmet, eye protection and sun cream. If
        you are not renting a bike, then it is important that your bike is in good working order and that you have a
        pump or Co2 gas gun (we will provide canisters) spare tubes, tyre levers and if you bike has unusual components,
        spares of those. We will provide you with two bike bottles and enough sports nutrition products to get the
        average rider through our weeks riding schedule.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentySeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySeven"
              aria-expanded="true" aria-controls="collapseTwentySeven">
        What happens after the rides?
      </button>
    </h2>
    <div id="collapseTwentySeven" class="accordion-collapse collapse" aria-labelledby="headingTwentySeven" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We don’t have an organised rota of activities, but most rides end at either the hotel or one of the many
        bars/cafés in Alcudia. That gives you the opportunity to chat whilst/watch the final kilometres of a cycle race
        and enjoy a post ride drink.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwentyEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyEight"
              aria-expanded="true" aria-controls="collapseTwentyEight">
        Can I buy additional Ciclos Major Cycling kit, energy gels and bars?
      </button>
    </h2>
    <div id="collapseTwentyEight" class="accordion-collapse collapse" aria-labelledby="headingTwentyEight" data-bs-parent="#faq-accordion">
      <div class="accordion-body">
        We will have a small selection of Ciclos Major kit and matching accessories available to buy when you are with
        us. Of course if you want extra kit or accessories it’s far better to pre-order using the feature on your
        booking form or via our website to avoid disappointment. Whilst we will be supplying you
        with cycling nutrition and food for your day to day riding, if you are a complete gel and energy food addict and
        want more we will have extras available to purchase throughout your stay with us.
      </div>
    </div>
  </div>
</div>
