<h1>Galleries</h1>

<div class="row row-cols-3">
  <% GALLERIES.each do |gallery| %>
  <div class="col text-center mb-5">
    <a href="/gallery/<%= gallery[:slug] %>">
      <img class="img-fluid" src="/img/gallery/<%= gallery[:slug] %>/thumb/<%= gallery[:cover] %>">
      <h2 class="h5"><%= gallery[:name] %></h2>
    </a>
  </div>
  <% end %>
</div>
