<h1>Meet the Ciclos Major Team</h1>
<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/darryl-leese.jpg">
  <h2>Darryl Leese</h2>
  <p>
    The Founder of Ciclos Major, who can normally be found on or near the front of our Cappuccino group, perhaps our
    most
    popular group, especially as the season moves on into March & April. An absolute master of the lanes of the island,
    Darryl has undiscovered and little used roads and routes to most destinations on the island. With 15 years’
    experience, Darryl is also fully versed in ride and group management and will ensure every day out is a day to
    remember! When he’s not riding Darryl is hard at work on his computer pulling the whole operation together, handling
    the admin of bookings, transfers and looking after client requests. He’s the conduit to our superb accommodation
    with
    the Zafiro hotels group, and his contacts on the island mean we have access to great local partners to help us offer
    that special experience.
  </p>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/liz-rooney.jpg">
  <h2>Liz Rooney</h2>
  <p>Although Liz first cycled in Mallorca only three years ago, she is similar to Victor Kiam (‘I liked the shaver so
    much, I bought the company’), as soon as Liz started riding on the island she was hooked and liked it so much she’s
    rarely been off the island since that time! When she’s not on the bike you’ll find Liz working hard at our meet and
    greet functions, assisting with the admin, bookings and looking after the welfare and general needs of our clients.
    Not being a traditionalist means Liz fully understands the needs and requirements of the modern cyclist and athlete
    and is key to driving our fresh approach to all things Mallorca. During the day and on the road, you’ll find her
    either working in our Cappuccino group or hosting our Ladies Only rides!</p>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/antony-stapleton.jpg">
  <h2>Antony Stapleton</h2>
  <p>Whilst Antony has been an active time triallist and road racing rider for some 30 years, in recent times he has
    shifted his focus to riding in Mallorca, and to enable others to enjoy the lanes and small roads that he has been
    riding since he first trained on the island in the spring of 1986! Usually found guiding one of our Espresso groups,
    Antony not only knows the roads of the island to a fine detail, he prides himself on taking our guests to the very
    best cafés and very occasionally after the rides, to the best bars in town! Antony is responsible for organising the
    practical needs of our clients, which includes kitting them out in our stylish and highly acclaimed Ciclos Major
    cycling outfits and supplying their nutrition and practical needs over the course of their stay. A qualified
    mechanic, he will always try to sort out minor bike and kit issues, and if he can’t sort it, he’ll generally know
    who can!</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/andrew-yeoman.jpg">
  <h2>Andrew ‘Yeomo’ Yeoman</h2>
  <p>An experienced and tough racing cyclist who guides our Espresso groups safely at speed around the roads of
    Mallorca. Yeomo is relatively new to guiding on the island but has quickly honed his craft to have become a master
    of the art in a very short time. Leading a big group at 30+ km/h takes a high level of concentration, and Andrew
    manages to do this whilst doing a lot of the pace work at the same time. He loves the mountains and likes to test
    his fitness against our keenest clients! Also, he is our resident raconteur, not only specialising in lively
    conversation, but in his role as our entertainments manager you’ll occasionally find him entertaining our guests
    with a microphone, knocking out a great Otis Redding or Bill Withers number!!</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/karen-dennett.jpg">
  <img class="float-end ms-3 mb-3" src="/img/guides/ben-dennett.jpg">
  <h2>Ben & Karen Dennett</h2>
  <p>This ‘golden couple’ of Mallorquin cycling know the island top to bottom, and side to side! B&K have been cruising
    the lanes of Mallorca for over twenty years and they ably manage our Americano group. Both have a background of
    racing, and Karen is currently enjoying a renaissance in her time trialling form! Ben is the diesel of the duo
    leading this group to the base of the climbs, whereupon Karen takes over in the mountains, marshalling their group
    smoothly to the high summits. B&K love to head south and to take their clients to the ‘other’ little visited chain
    of mountains that Mallorca has to offer.</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/robbie-harcourt.jpg">
  <h2>Robbie Harcourt</h2>
  <p>If Ben is the diesel of our Americano group, then Robbie is the turbodiesel! Robbie has worked with Ben and Karen
    for several seasons now and like any sorcerer’s apprentice, he now professes to know the lanes even better than his
    masters! Ben may just question that as he glances despairingly at Robbie’s Garmin!! Seriously though, Robbie is a
    tough and resourceful rider, and a very experienced mechanic to boot. Providing some ‘Northern grit’ to compliment
    the other two ‘smooth Southerners’ on the odd occasion the wind does blow on the island, Ben and Robbie set to work
    and pull the group home at speed. Robbie is fully versed in ride management and leads rides in the UK for the rest
    of the year is a mainstay of his local cycling club.</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/tim-ball.jpg">
  <h2>Tim Ball</h2>
  <p>An expert when on the roads of Mallorca and owner of Audlum Cyclesport in South Cheshire, Tim brings a wealth of
    experience to our team. Usually guiding alongside Darryl with our Cappuccino riders, and being from the rugged North
    of England, Tim is equally at home on the flat, or in the Mountains. His mountain biking background means his bike
    handling skills are second to none, and he can impart that knowledge, and the tips and tricks of that trade, onto
    our clients. With some of our Cappuccino riders being relatively new to cycling, That’s the kind of benefits
    attending an organised cycling holiday can bring to the improving rider. Tim is also a fully qualified mechanic and
    has a passion for all things tractors!</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/mary-bower.jpg">
  <h2>Mary Bower</h2>
  <p>A keen road rider and time triallist, Mary has ridden at a high level in the UK and will be on hand to offer
    support to all our groups and particularly to help our lady riders. Mary had been riding regularly on Mallorca for
    ten years and whilst she loves to visit the Caves of Campanet, her knowledge of the island is now fully
    comprehensive. Quick in the hills and smooth on the flats, Mary is equally at home working with any of our
    established guides or leading out groups into the varied terrain Mallorca has to offer!</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/nick-cooper.jpg">
  <h2>Nick Cooper</h2>
  <p>An adopted Mallorquin who has called this island his retreat for almost 5 years now preparing for his summer of
    road-racing. Nick is most at home on the boards of the velodrome having raced at both the Ghent and London 6 day
    events in the under-23 category but it is his love of the road that always comes to the fore. He can be found
    leading at the front of the Espresso and Double Espresso groups through the secluded lanes and up beautiful climbs.
    His years of riding in the bunch on the road comes through when leading, always keen to keep a nice tight group;
    making sure everyone is together and safe is always at the top of Nick’s priorities. Nick is always keen to talk
    about all things cycling but once you get him going he may not stop!</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/melissa-dowell.jpg">
  <h2>Melissa Dowell</h2>
  <p>Melissa started competing in triathlon in 2007, previously from a swimming background. She has ridden the Mallorca
    312 and completed over a dozen Ironman races, including Ironman Mallorca and has qualified for The World
    Championship Kona Ironman five times. She competed in this event three times gaining two Age Group top 10 finishes.
    Melissa has also competed widely for Great Britain throughout Europe and further afield, racing both World ITU and
    European ETU long distance and middle distance age group championships.</p>
  <p>In 2016 she won gold in the age group world championships long course triathlon in Oklahoma and more recently a
    silver medal in Pontevedra Spain in May 2019. She also has four golds, a silver and two bronze medals from racing
    for Great Britain in European age group championships. Melissa has wide experience from attending training camps
    around the world and has delivered training sessions to a youth triathlon squad for several years.</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/toni-saunders.jpg">
  <h2>Toni Saunders</h2>
  <p>A Triathlete for more than a decade, building up through all the distances as a beginner, Toni knows what it’s like
    to progress from newbie through to full age group racing. Her preferred choice is long distance endurance and Toni
    has completed 3 full Ironman races – UK, Austria and Copenhagen. Toni has also completed many 70.3 races, fittingly
    including the Mallorca Ironman 70.3!</p>
  <p>An age group qualifier for GB ETU Championships at both Middle and Standard Distance, and an UCI cycling age group
    qualifier competing in both Perth and Albi world championships.</p>
  <p>With the last 17 years spent holidaying in Alcudia and Puerto Pollensa Toni has developed a love for Cycling in the
    mountains, running along the coastline and swimming in the clear waters of Pollensa and Alcudia bays. She’s
    convinced it’s the perfect place to train, and equally importantly, to relax.</p>
  <p>Toni’s passion has led her into many formal coaching qualifications which include:</p>
  <ul>
    <li>British Triathlon Federation level 2</li>
    <li>BTF Diploma 1-2-1 online coaching</li>
    <li>BTF open water coaching</li>
    <li>ASA swimming Instructor</li>
    <li>Swim smooth Certification, plus the 1-2-1 video analysis under Swimsmooth specific coaching system</li>
    <li>NRASTC light ( Teachers rescue Test ) Training peaks Summit University – for online 1-2-1 Triathlon , marathon,
      and
      swim coaching
    </li>
  </ul>
  <p>This impressive array combined with an extensive knowledge of the island means Toni is ready to welcome our
    Triathlon focused clients and to guide them through the ultimate training experience from start to finish.</p>
</div>


<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/guides/debra-peck.jpg">
  <h2>Debra Peck</h2>
  <p>An experienced timetrialist from the UK, now living in Mallorca for the last 4 years. Debra has built up her
    knowledge of the roads here on this beautiful island to enable her to guide, encourage and support you enhancing
    your “Ultimate Mallorquin Cycling Experience”. Her focus is on the Cappuccino level rides and the Ladies only
    rides.</p>
</div>
