<p class="p-3 fs-3 mb-0 fw-bold text-center tinymce-body" id="index.header">
  <%== get_text("index.header") %>
</p>

<p class="p-3 mb-3 text-bg-primary text-center tinymce-body" id="index.block">
  <%== get_text("index.block") %>
</p>

<p class="p-3 mb-3 text-center">
  <%== erb :_google_review_buttons %>
</p>

<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-4 text-center mb-3">
  <div class="col">
    <div class="card h-100">
      <img src="/img/camps/2025-spr.jpg" class="card-img-top img-fluid" alt="" aria-hidden="true">
      <div class="card-body">
        <h5 class="card-title">Spring 2025</h5>
        <p class="card-text">31st January - 31st May</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2025-spring" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/img/camps/2025-aut.jpg" class="card-img-top img-fluid" alt="" aria-hidden="true">
      <div class="card-body">
        <h5 class="card-title">Autumn 2025</h5>
        <p class="card-text">13th September - 2nd November</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2025-autumn" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/img/camps/2025-swim.jpg" class="card-img-top img-fluid" alt="" aria-hidden="true">
      <div class="card-body">
        <h5 class="card-title">October Swim Camp</h5>
        <p class="card-text">October?</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2025-swim" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-4 text-center mb-3">
  <div class="col">
    <a href="/bike-rental">
      <div class="card h-100">
        <img src="/img/index/bike-rental.jpg" class="card-img-top img-fluid" alt="Team GF Six Disc Di2 Carbon Wheel Bike" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">Bike Rental</button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/ride-groups">
      <div class="card h-100">
        <img src="/img/index/ride-groups.png" class="card-img-top img-fluid" alt="4 cyclists riding down a road" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">Ride Groups</button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/prices/2025.pdf">
      <div class="card h-100">
        <img src="/img/index/prices-2025.jpg" class="card-img-top img-fluid" alt="TODO" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">2025 Prices</button>
        </div>
      </div>
    </a>
  </div>
</div>

<%== erb :_tinymce, locals: { id: "index.body" } %>
