<p class="p-3 fs-3 mb-0 fw-bold text-center tinymce-body" id="index.header">
  <%== get_text("index.header") %>
</p>

<p class="p-3 mb-3 text-bg-primary text-center tinymce-body" id="index.block">
  <%== get_text("index.block") %>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 g-4 text-center mb-3">
  <div class="col col-lg-4 offset-lg-2">
    <div class="card h-100">
      <img src="/img/camps/2024-aut.jpg" class="card-img-top img-fluid" alt="TODO" aria-hidden="true">
      <div class="card-body">
        <h5 class="card-title">Autumn 2024</h5>
        <p class="card-text">14th September - 27th October</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2024-autumn" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>

  <div class="col col-lg-4">
    <div class="card h-100">
      <div class="position-relative d-inline-block">
        <img src="/img/camps/2024-312.jpg" class="card-img-top img-fluid" alt="Cyclists finishing the 312 Sportive" aria-hidden="true">
        <% if SOLD_OUT_312 || REGISTER_INTEREST_312 %>
          <div class="position-absolute top-50 start-50 w-100 alert alert-danger banner-rotated">
            <% if SOLD_OUT_312 %>
              Sold out!
            <% elsif REGISTER_INTEREST_312 %>
              Register your Interest here
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title">312 Sportive</h5>
        <p class="card-text">27th April 2024</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2024-312" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-4 text-center mb-3">
  <div class="col">
    <a href="/bike-rental">
      <div class="card h-100">
        <img src="/img/index/bike-rental.jpg" class="card-img-top img-fluid" alt="Team GF Six Disc Di2 Carbon Wheel Bike" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">Bike Rental</button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/ride-groups">
      <div class="card h-100">
        <img src="/img/index/ride-groups.png" class="card-img-top img-fluid" alt="4 cyclists riding down a road" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">Ride Groups</button>
        </div>
      </div>
    </a>
  </div>

  <div class="col">
    <a href="/prices/2024.pdf">
      <div class="card h-100">
        <img src="/img/index/prices-2024.jpg" class="card-img-top img-fluid" alt="TODO" aria-hidden="true">
        <div class="card-footer">
          <button class="btn btn-primary">2024 Prices</button>
        </div>
      </div>
    </a>
  </div>
</div>

<%== erb :_tinymce, locals: { id: "index.body" } %>
