
<div class="p-3">
  <div class="fs-3 fw-bold text-center">
    Majorca Training and Tri Camps and Guided Cycling Holidays
    <br />
    Book Today for the Autumn Season
    <br />
    We Will Be Ready to Show You the Best Roads on the Island
    <br />
    Hire Bikes now available via Ciclos Major
  </div>
</div>

<div class="p-3 mb-3 text-white" style="background-color: rgba(237,18,123,1)">
  Our Spring season has just finished and we will be beginning our Autumn season again on Saturday 24th September at both hotels and will be continuing until Saturday 5th November 2022.
  <br />
  As ever there is our normal 10% discount for returning clients! If you have already booked the discounts will be applied automatically.
  <br />
  Ciclos Major are are continuing our partnership with Bikefriends Schon in offering a range of hire bikes in Alcudia. Click on Bike Rental in Mallorca for further details.
</div>

<div class="card-group text-center">
  <div class="card">
    <img src="holder.js/250x200" class="card-img-top img-fluid">
    <div class="card-body">
      <h5 class="card-title">Autumn 2022</h5>
      <p class="card-text">24th September - 5th November</p>
    </div>
    <div class="card-footer">
      <a href="" class="btn btn-outline-dark">
        Book Now
      </a>
    </div>
  </div>

  <div class="card">
    <img src="holder.js/250x200" class="card-img-top img-fluid">
    <div class="card-body">
      <h5 class="card-title">Spring 2023</h5>
      <p class="card-text">4th February - 27th May</p>
    </div>
    <div class="card-footer">
      <a href="" class="btn btn-outline-dark">
        Book Now
      </a>
    </div>
  </div>

  <div class="card">
    <img src="holder.js/250x200" class="card-img-top img-fluid">
    <div class="card-body">
      <h5 class="card-title">Autumn 2023</h5>
      <p class="card-text">23rd September - 4th November</p>
    </div>
    <div class="card-footer">
      <a href="" class="btn btn-outline-dark">
        Book Now
      </a>
    </div>
  </div>

  <div class="card">
    <img src="holder.js/250x200" class="card-img-top img-fluid">
    <div class="card-body">
      <h5 class="card-title">312 Sportive</h5>
      <p class="card-text">29th April 2023</p>
    </div>
    <div class="card-footer">
      <a href="" class="btn btn-outline-dark">
        Book Now
      </a>
    </div>
  </div>
</div>

