<div class="p-3">
  <div class="fs-3 fw-bold text-center">
    Majorca Training and Tri Camps and Guided Cycling Holidays
    <br />
    Book Today for the Autumn Season
    <br />
    We Will Be Ready to Show You the Best Roads on the Island
    <br />
    Hire Bikes now available via Ciclos Major
  </div>
</div>

<div class="p-3 mb-3 text-bg-primary">
  Our Spring season has just finished and we will be beginning our Autumn season again on Saturday 24th September at
  both hotels and will be continuing until Saturday 5th November 2022.
  <br />
  As ever there is our normal 10% discount for returning clients! If you have already booked the discounts will be
  applied automatically.
  <br />
  Ciclos Major are are continuing our partnership with Bikefriends Schon in offering a range of hire bikes in Alcudia.
  Click on <a href="/bike-rental">Bike Rental in Mallorca</a> for further details.
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4 text-center mb-3">
  <div class="col">
    <div class="card h-100">
      <img src="/img/booking-links/2022-09.jpg" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">Autumn 2022</h5>
        <p class="card-text">24th September - 5th November</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2022-autumn" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/img/booking-links/2023-03.jpg" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">Spring 2023</h5>
        <p class="card-text">4th February - 27th May</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2023-spring" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/img/booking-links/2023-09.jpg" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">Autumn 2023</h5>
        <p class="card-text">23rd September - 4th November</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2023-autumn" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="/img/booking-links/2023-312.jpg" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">312 Sportive</h5>
        <p class="card-text">29th April 2023</p>
      </div>
      <div class="card-footer">
        <a href="/camps/2023-312" class="btn btn-primary">
          Book Now
        </a>
      </div>
    </div>
  </div>
</div>

<div id="index-carousel" class="carousel slide mb-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/carousel/index/index-1.jpg" class="d-block mx-auto">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel/index/index-2.jpg" class="d-block mx-auto">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel/index/index-3.jpg" class="d-block mx-auto">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel/index/index-4.jpg" class="d-block mx-auto">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel/index/index-5.jpg" class="d-block mx-auto">
    </div>
    <div class="carousel-item">
      <img src="/img/carousel/index/index-6.jpg" class="d-block mx-auto">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#index-carousel" data-bs-slide="prev">
    <span class="fas fa-fw fa-2xl fa-chevron-left" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#index-carousel" data-bs-slide="next">
    <span class="fas fa-fw fa-2xl fa-chevron-right" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p>
  Ciclos Major is all about experience, and we aim to provide the ultimate Mallorcan cycling experience! When you travel
  with us we will cater for all your needs to the last degree and from the minute we collect you from the airport, all
  we want you to have to think about is fulfilling your sporting goals: that might be tackling all the major climbs on
  the island; preparing for a forthcoming extreme endurance event, training for your local 10-mile time trial or just
  enjoying a relaxing few days cycling around Mallorca, checking out the ‘coffee culture’ of the numerous towns and
  villages that litter the interior of the island.
</p>
<p>
  We can provide bespoke cycling and training holidays for groups of friends, cycling and triathlon clubs or simply
  like-minded individuals.
</p>
<p>
  We resume our Autumn season in both hotels from Saturday 24th September until Saturday 5th November. Dates for 2023
  will be announced shortly.
</p>
<p>
  For the triathletes we can not only offer you a challenging week of cycling in Mallorca but there is also the
  opportunity to train in the heated swimming pool at the <a href="/hotels/zafiro-palace">Zafiro Palace Hotel</a> and/or
  to run along the renowned bays of Alcudia and Pollensa.
</p>
<p>
  A qualified triathlon coach will be available to support you with your swimming objectives in the heated pool at the
  <a href="/hotels/zafiro-palace">Zafiro Palace Hotel</a>. Whilst this period will focus on triathlon training, this
  does not preclude cyclists coming in these weeks and likewise triathletes will be most welcome at any time we are
  running camps. There is the possibility of further swimming coaching, such as open-water swimming or swim smooth
  coaching at additional cost. Please enquire using the Bespoke Holiday Enquiry Form.
</p>
<p>
  Ciclos Major represents the evolution of an existing provider of cycling trips to the island and the name, whilst
  obviously reflecting cycling, also conjures up the image of the highest peak on the island ‘Puig Major’ which you will
  surely tackle in your time with us.
</p>
<p>
  Our logo design (and that of our cycling jersey) not only represents those lofty peaks, but also your heartbeat as you
  enjoy the finest roads that Mallorca has to offer!!
</p>
<h2>What’s different about Mallorcan Cycling Holidays with Ciclos Major?</h2>
<p>
  We pride ourselves on giving our clients a total experience when they travel with us, and to that end there are
  certain things we don’t do... we don’t just take the easy route and simply deliver our clients to the same old
  ‘honeypots’ that feature in every cycling magazine, and we don’t just follow the same routes, week in, week out!
</p>
<p>
  What we DO strive to do is to give our clients a total experience by constantly sourcing new and interesting routes,
  villages, climbs and café stops in new and exciting areas. We DO make sure our clients get to ride on different and
  exciting roads, using all our guides’ vast knowledge of the island’s roads and routes. We DO strive to make sure our
  clients’ needs and expectations are met, and in terms of cycling we don’t only aim for them to return from their break
  a faster, fitter cyclist, we aim for them to return as a BETTER cyclist! We DO also understand that our clients are
  having a well-earned break from their daily lives, so we also offer a social programme to enable them to not just
  remember the riding when they return home. We have a network of local bars, restaurants and cafés who always offer a
  warm welcome to our clients. For our clients we even slot in a bit of down-time to take in some of the local culture,
  such as live music and cultural events.
</p>
<p>
  We’ll give you a trip to remember, just let us show you how!
</p>
