<h1>Ride Groups</h1>

<div id="ride-groups">
  <div class="col">
    <div class="card h-100 text-bg-primary">
      <h4 class="card-header">Espresso / <br> Double Espresso</h4>
      <div class="card-body">
        <p>120-180km</p>
        <p>29km/h+</p>
      </div>
      <div class="card-footer"><span class="fas fa-fw fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Americano</h4>
      <div class="card-body">
        <p>120-180km</p>
        <p>26-28km/h</p>
      </div>
      <div class="card-footer"><span class="fas fa-fw fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Cappuccino</h4>
      <div class="card-body">
        <p>100-130km</p>
        <p>25km/h</p>
      </div>
      <div class="card-footer"><span class="fas fa-fw fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Cafe Late</h4>
      <div class="card-body">
        <p>100-130km</p>
        <p>22-23km/h</p>
      </div>
      <div class="card-footer"><span class="fas fa-fw fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Affogato</h4>
      <div class="card-body">
        <p>40-60km</p>
        <p>15-18km/h</p>
        <p>1 or 2 cafe stops</p>
        <p>Easy ride around the area</p>
      </div>
      <div class="card-footer"><span class="fas fa-fw fa-person-biking fa-4x"></span></div>
    </div>
  </div>
</div>


<%== erb :_carousel, locals: { path: 'ride-groups', count: 2, alt: [
  '4 cyclists riding down a road',
  '4 cyclists sitting on a wall, with the sea in the background',
] } %>

<p>Depending on numbers we normally offer at least five riding groups to suit all aspirations and abilities. Our guides
  are fully equipped to manage your rides and will have routes ready to go and café stops planned.</p>

<p>From our locations in Alcudia we have direct access to either flat terrain to the centre of the island or challenging
  mountains to the north-west. We tend to have “Mountain” days or “Flat” days. The distances and average speeds quoted
  for our ride groups are based on flat days.</p>

<p>We will provide you with sports nutrition and drink to get you through your week, in addition to this, at your
  cycling hub there will be bananas, fruit and snacks laid out for you to which you can help yourself. These should
  enable you to fully fuel your riding for the week.</p>

<p>As always, our clients need to be slightly self-sufficient, in terms of carrying spare tubes, tools specific to your
  bike if non-standard, cash for lunch, and insurance and ID details.</p>

<p>We will provide you with a wallet to enable you to safely carry the latter two and your mobile phone</p>

<p>We have 5 or 6 levels of groups, depending on demand as follows (average speeds are for flat rides):</p>

<h2>Espresso/Double Espresso</h2>
<p>These groups are for fit and fast racing, sportive and Tri riders who want to test their fitness on rides which range
  from 120 to 180kms in length. Speed is normally around or above 30 km/h on anything other than a full mountain day.
  Given their length riders in these groups will cover all but the far western extremities of the island over the course
  of a week’s stay. Mountain rides are a staple diet of this group, although we ensure that a balance of rides over the
  week means you’ll see all the island has to offer and not burn ‘too many matches’ too soon!</p>

<h2>Americano Group</h2>
<p>This group is for strong riders looking for a challenging ride, but perhaps at a slightly steadier pace than in our
  Espresso groups. Covering similar high distances as our lead groups, but at a slightly steadier average of 26-28 km/h,
  this will still be a meaningful day in the saddle for the more serious rider.</p>

<h2>Cappuccino Group</h2>
<p>This group is for good club riders looking for a fairly challenging but enjoyable day out on the bike. 100 to 130 kms
  at an average of approximately 25 kph. Mountains are climbed at your own pace with a lot of encouragement and reward.
  A guide will always follow the last rider to the top to ensure we all arrive safely.</p>

<h2>Café Latte Group</h2>
<p>This group rides a similar distance to our Cappuccino riders but at an easier average pace of 22/23 kph and usually
  there is the option to avoid the big climbs up to or over the mountain.</p>

<h2>Affogato Group</h2>
<p>An easy ride around the local area of up to 40 to 60 kms with one or two café stops. 15 to 18 kph average.</p>

<h2>Women Only Groups</h2>
<p>If there is demand, we will offer or organise Women Only rides led by one of our guides.</p>
