<%== erb :_tinymce, locals: { id: "ride-groups.title" } %>

<div id="ride-groups" class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
  <div class="col">
    <div class="card h-100 text-bg-primary">
      <h4 class="card-header">Espresso / <br> Double Espresso</h4>
      <div class="card-body">
        <p>120-180km</p>
        <p>29km/h+</p>
      </div>
      <div class="card-footer">
        <span class="fa-layers fa-4x">
          <span class="fas fa-mountain" data-fa-transform="shrink-4 right-4 down-1.8"></span>
          <span class="fas fa-mountain" data-fa-transform="left-2"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Americano</h4>
      <div class="card-body">
        <p>120-180km</p>
        <p>26-28km/h</p>
      </div>
      <div class="card-footer">
        <span class="fa-layers fa-4x">
          <span class="fas fa-mountain" data-fa-transform="shrink-4 right-4 down-1.8"></span>
          <span class="fas fa-mountain" data-fa-transform="left-2"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Cappuccino</h4>
      <div class="card-body">
        <p>100-130km</p>
        <p>25km/h</p>
      </div>
      <div class="card-footer"><span class="fas fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Cafe Latte</h4>
      <div class="card-body">
        <p>80-100km</p>
        <p>22-23km/h</p>
      </div>
      <div class="card-footer"><span class="fas fa-mountain fa-4x"></span></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <h4 class="card-header">Affogato</h4>
      <div class="card-body">
        <p>40-60km</p>
        <p>15-18km/h</p>
        <p>1 or 2 cafe stops</p>
        <p>Easy ride around the area</p>
      </div>
      <div class="card-footer"><span class="fas fa-person-biking fa-4x"></span></div>
    </div>
  </div>
</div>

<%== erb :_carousel, locals: {
       path:  "ride-groups",
       count: 4,
       alt:   [
         "3 cyclists riding down a road",
         "8 cyclists posing at the top of a climb, with a view of Majorca in the background",
         "4 cyclists descending a hill",
         "7 cyclists standing next to a tall wall",
       ],
     } %>

<%== erb :_tinymce, locals: { id: "ride-groups.body" } %>
