<h2>Safe Cycling</h2>

<p>
Riding in a cycle group is not a race, it is ridden under standard highway conditions, therefore all riders must abide by the rules of the road at all times. Mallorquin towns and villages can be very intricate with blind corners, blind junctions and complex one-way systems. Your guide(s) will endeavour to safely marshal the group through these built up areas but for this reason we NEVER race or ride hard through towns and villages on the island.
</p>
<p class="fw-bold">
In Spain it is compulsory to wear a helmet whilst cycling outside of built up areas. You are not allowed to use mobile phones or similar handheld devices which affect your attention. You are also not allowed to ride while listening to music through headphones or earbuds.
</p>

<h2>Safety</h2>
<ul>
  <li>You are riding on open roads. Be alert to vehicles and other road users you share the road with and always follow
    the rules of the road.</li>
  <li>Do not take any unnecessary risks – your actions could have serious consequences.</li>
  <li>When climbing in the mountains please ride single file. On some roads this is compulsory.</li>
  <li>When descending make sure you control your speed to match your abilities. If you are unsure about technique our
    guides can give you handy tips and pointers and will be happy to lead riders through descents if requested.</li></ul>
<h2>Actions</h2>
<ul>
  <li>You are responsible for your own actions.</li>
  <li>Do not assume it is safe to cross a junction when others say so. Always check it is safe to continue yourself.</li>
  <li>Always ride on the correct side of the road. Ride no more than 2 abreast and single out on narrow roads, when
    climbing mountains or sections where visibility is limited.</li>
  <li>If you approach a horse and rider from behind, remember to SLOW down, shout out and give plenty of space when
    passing.
  </li>
  <li>If you are about to pass another cyclist or group of cyclists warn them of your approach.</li>
</ul>
<h2>Responsibility</h2>
<ul>
  <li>Look after yourself and those around you. Other members of the group should not hesitate to help out, and shout
    out if another rider is having difficulties, or if riders are caught at junctions etc.
  </li>
  <li>Respect the environment and ALL other road users.</li>
  <li>Do not litter – take all rubbish and discard appropriately.</li>
  <li>It is the individual responsibility of each cyclist to ensure that they ride safely at all times and that they do
    not cause danger, risk, damage or injury to themselves, other cyclists or other road users.
  </li>
</ul>
<h2>Safe Group Riding</h2>
<ul>
  <li>Give verbal warnings of approaching obstacles and vehicles.</li>
  <li>Give verbal warnings if you are moving out to the centre of the road, about to change direction or are going to
    slow down or stop.
  </li>
  <li>Do not brake suddenly or make sudden sideways movements.</li>
  <li>Be aware of other riders around you.</li>
  <li>Be aware of sudden backward movement of a cyclist in front, if that rider gets "out of the saddle".</li>
  <li>Communicate with other riders when singling out, with the outside rider dropping behind the inside rider.</li>
  <li>Move safely to the rear of the group if you have a problem (with bike, clothing etc).</li>
  <li>Keep your position in the group as it rotates. If you do not want to ride at the front, move forward in position
    and rotate immediately when you reach the front.</li>
  <li>Be in control of your bike at all times – at least one hand on the handlebars at all times. STOP to put jackets on
    or deal with mechanical issues.
  </li>
</ul>
<h2>Warnings commonly used include:</h2>
<ul>
  <li>Car front (coming towards you)</li>
  <li>Car back/behind (coming from behind)</li>
  <li>On the left/right (i.e. obstacle)</li>
  <li>Hole</li>
  <li>Gravel, sand etc.</li>
  <li>Sharp bend</li>
  <li>Stopping/Slowing</li>
  <li>Clear left/right (i.e. at a junction)</li>
  <li>Single out (move to single file)</li>
</ul>
