<%== erb :_tinymce, locals: { id: 'support.title' } %>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/support-crew/rob-veronica-smith.jpg">
  <%== erb :_tinymce, locals: { id: 'support.smith' } %>
</div>
