<div class="tinymce-body" id="support.title">
  <%== get_text('support.title', '
<h1>Support Crew</h1>
') %>
</div>

<div class="clearfix">
  <img class="float-end ms-3 mb-3" src="/img/support-crew/rob-veronica-smith.jpg">
  <div class="tinymce-body" id="support.smith">
<%== get_text('support.smith', '
  <h2>Rob & Veronica Smith</h2>
  <p>Rob and Veronica have been married for over 40 years, Rob is a qualified orthopaedic nurse and worked in operating
    theatres throughout his career. He began working on the medical team on the Milk Race in 1976 and served on the
    event for eighteen years. He has worked on many events over the years at the National, International and World level
    as well as at the 2002 Commonwealth Games in Manchester and the 2012 London Olympics Games where he was Venue
    Medical Manager at the Velodrome and BMX course.</p>

  <p>Rob has also been working on training camps for over 25 years.</p>

  <p>Veronica is a retired children’s and general nurse. Veronica has acted as Rob’s medical support and right hand woman
    on numerous training camps for several years.</p>
') %>
  </div>
</div>
