<h1>Terms and Conditions</h1>

<p>Thank you for booking with Ciclos Major SL (‘Ciclos Major’). We look forward to meeting you.</p>
<p>All of our bookings are subject to these terms and conditions. Please read these carefully. In making your booking
  you confirm that you have read, understand and accept these terms and conditions.</p>
<p>Ciclos Major will organise transport to and from the hotel, half-board accommodation and cycling activities. The
  price paid does not cover cycle hire, which, if required should be arranged by yourselves and one of the many cycle
  hire organisations in Mallorca.</p>
<p>Where a booking is made by an individual person on behalf of another person or group of persons, then the person
  making the booking (the lead name) must be 18 years old or over and possess the legal capacity and authority to make
  the booking and accepts these terms and conditions on behalf of everyone in their party. The lead name is responsible
  for ensuring the accuracy of all information provided relating to themselves and persons in their party, and for
  passing on information regarding the booking to all persons in their party.</p>
<p>We welcome children to attend Ciclos Major holidays with their parents/guardians. In the case of training camps
  organised by or on behalf of Junior or Youth Cycling organisations the minimum age to join a riding activity is 12. In
  all other cases it is 16.</p>
<p>Ciclos Major undertake to carefully perform the services advertised by us for the trip in accordance with the offer
  valid at the time of your booking.</p>
<p>All information given about our holidays, whether on our website, social media or otherwise, is intended solely to
  give you a general idea of the holiday. Information is correct to the best of our knowledge. You will be provided with
  details of your holiday, including accommodation details and what is included in the price at the time of booking.
  Changes may subsequently be made, and we will notify you of any changes that we become aware of as soon as we are
  reasonably able to do so, in accordance with these terms and conditions. Ciclos Major reserves the right to change
  cycling activities based on weather and road conditions and individual abilities of riders. This may be a decision
  taken by your guide whilst riding and it will made with the client’s best interest in mind. We cannot be held liable
  if a client chooses to go against the advice given by their guide on the road.</p>
<h2>Pricing and Payment Policy</h2>
<p>Confirmation of your booking will not be made until a booking form is completed and a payment of a deposit of GBP 100
  is received. If you book your holiday within eight weeks of commencement of the holiday you must pay the full cost at
  the time of booking.</p>
<p>By making your booking, our agreement is legally binding.</p>
<h2>Cancellations and Changes to Bookings.</h2>
<p>Should you, or one of your party, wish to cancel your booking, you must give us notice in writing. Cancellations will
  only be accepted from the lead person who booked the holiday. Notice of cancellation will be effective upon receipt by
  us of your written communication. We can accept no responsibility for cancellation charges arising from correspondence
  delayed or lost in the post. Cancellation fees will be levied in line with the scale listed below (as a % of your
  total booking price):</p>
<ul>
  <li>Over 60 days prior to departure – deposit</li>
  <li>60 to 31 days prior to departure – 25%</li>
  <li>30 to 22 days prior to departure – 50%</li>
  <li>21 to 15 days prior to departure – 75%</li>
  <li>14 to 7 days prior to departure – 90%</li>
  <li>Less than 7 days to departure (including no-show) – 100%</li>
</ul>
<p>If, after our booking confirmation has been issued, you wish to make a change to your existing booking, we will try
  to make the changes subject to availability, but we reserve the right to charge an amendment fee of £50 per booking
  for each change in addition to any extra costs of the changes being made.</p>
<p></p>
<p>If you end your holiday early for reasons which do not qualify as ‘non-performance of services by Ciclos Major’, no
  costs for ‘unused services’ will be reimbursed. Any additional costs for returning early are payable by you.</p>
<p></p>
<h2>Insurance</h2>
<p>It is a condition of your booking that you have medical/travel insurance that covers road cycling related activities
  and that these documents with emergency telephone numbers are made available to Ciclos Major staff on arrival at your
  holiday.</p>
<p>Your booking is accepted on the understanding that you accept:</p>
<p>Enhanced Risk – you engage in sport at your own risk. In no event will Ciclos Major accept any liability for
  accidents and physical injuries that result from engaging in any activity, including if you are travelling in a group
  with a group guide. Unless otherwise specified all Ciclos Major activities are non-competitive.</p>
<p>We cannot guarantee rider safety as rides use public roads, often in mountainous areas, and can include groups of
  varying abilities. You are personally responsible for complying with all road traffic regulations and wearing a helmet
  is mandatory. By booking any trip with Ciclos Major you must accept that you could get injured and that your equipment
  could get damaged.</p>
<p>It is your responsibility to ensure that you are sufficiently fit and healthy to complete your chosen activity. By
  confirming your booking you accept that Ciclos Major guides have the authority to prevent you from participating in
  any part of a ride should they have reasonable concerns about (a) your ability to safely partake in an activity or (b)
  your physical ability to complete an activity in the required timescale. On any ride it is necessary that you abide by
  the authority of the guide(s), who represent Ciclos Major and whose decision is final. Completing our booking form
  signifies your agreement to this and if you commit any illegal act when on the ride or if in the reasonable opinion of
  the guide(s) your behaviour is causing or likely to cause danger, distress or annoyance to others we may prevent you
  from riding or continuing on the ride and any future rides, without any liability on our part.</p>
<p>Please note that flights and other products you purchase separately do not form part of your holiday package with
  us.</p>
<p>Travel arrangements to meet a ride or on leaving any bike ride are your responsibility. Any guidance we may provide
  is simply that and must be checked by you.</p>
<p>Any information given by Ciclos Major in regard to climate, clothing, special equipment, etc. is made in good faith
  and must be rechecked by you prior to relying on it.</p>
<h2>Medical and special requirements</h2>
<p>We welcome people with restricted mobility, medical or particular care requirements or a disability, and aim to
  ensure that our services are as accessible as reasonably possible to all. However, in order that we may consider the
  possibility of making reasonable adjustments, it is important that we are fully informed of any needs, requirements
  and conditions before any booking is concluded. Please telephone us and we will be happy to discuss availability,
  suitability and potential reasonable adjustments with you.</p>
<p>If you have special requirements, a risk assessment may be required prior to confirming a booking or allowing
  participation in guided rides. Please note that we rely on the information you provide to help us anticipate and
  satisfy your needs. We therefore require you to give us a full and frank description of your needs. You must update us
  with any change in your circumstances prior to and during your holiday. Our guides can only provide general first aid.
  As such it may be necessary for you or a member of your party to take responsibility for and to be able to administer
  or attend to your/their own medical needs or have someone accompany you/them who can do so.</p>
<p>You should inform us immediately, if within 4 weeks prior to your arrival date or during your break, any member of
  your party has, or develops an infectious or contagious medical condition. If so, we have the right to:</p>
<p>refuse to accept your booking;</p>
<p>cancel your holiday; or</p>
<p>ask any member of your party to leave immediately, should we, in our reasonable discretion consider it necessary to
  protect the health of others.</p>
<h2>Behaviour</h2>
<p>Your behaviour should not be excessive, noisy or disruptive, especially at night. Your behaviour must at all times be
  appropriate to the culture of the country you are visiting. Offensive or illegal behaviour will not be tolerated and
  may result in the police being involved. We do not consider offensive or aggressive behaviour or language towards our
  staff to be acceptable. We may ask you and/or any member of your party to leave immediately if your conduct is
  considered by us to be inappropriate, likely to cause harm, or impair the enjoyment, comfort or safety or your
  neighbours, other members of your group, staff and the general public. No refunds or compensation will be given in
  these circumstances and we reserve the right not to accept any future bookings from you or any member of your
  party.</p>
<h2>Photographs</h2>
<p>Photographs, likenesses or images of participants secured or taken on any of our trips may be used by the company
  without remuneration in all media for bona fide promotional or marketing purposes.</p>
<h2>Complaints</h2>
<p>Any complaints regarding your holiday should be made to Darryl Leese, Liz Rooney or Antony Stapleton who will
  normally take any necessary action. If at the end of your holiday you feel that your complaint was not dealt with
  properly and you were not satisfied with the response, you must notify us of your complaint in writing within fourteen
  days of completion of your holiday.</p>
<h2>Your safety and security</h2>
<p>Your personal belongings are your own responsibility during your holiday with us.</p>
<p>You may not advertise, use, give or resell your holiday or any discount offer associated with it or offer to do so
  (for profit or otherwise) or use it in connection with a competition, promotion, business and charitable or any
  similar venture without our prior written consent.</p>
<h2>Accommodation</h2>
<p>Each provider of accommodation may have its own terms and conditions on which they take guests, and you agree to
  abide by these.</p>
<p>Your accommodation will be available to you from 14.30 on the day of arrival. You must vacate your room by 11:00 on
  the day of departure.</p>
<h2>Compensation payable by you</h2>
<p>When booking you agree that we have the right either during or after your holiday to recover from you the following
  costs:</p>
<ul>
  <li>any compensation that we have to pay to others as a result of your acts or omissions; and/or</li>
  <li>any damage to property or accommodation; and/or</li>
  <li>any other charges or fees that we may incur as a result of your acts or omissions and from any breach of these
    terms
    and conditions.
  </li>
</ul>
<h2>Insurance disclaimer</h2>
<p>You understand and accept that taking part in any trip organised by Ciclos Major is at your own risk and that neither
  Ciclos Major nor any agent, employee or other client is responsible for your safety. You further accept that Ciclos
  Major is there only to give route guidance and arrange any transfers and/or accommodation. Even though guided rides
  are offered, you take part in these rides totally at your own risk.</p>
<p>You have been advised by Ciclos Major that you need to be sufficiently fit and not suffering with any illness that
  could be exacerbated by the types of activities undertaken on the trips and that if in any doubt, you should seek
  medical advice before making a booking.</p>
<p>You have also been advised by Ciclos Major that you need sufficient medical travel insurance to cover all medical
  expenses, loss of earnings, cost of care, any loss or damage to your baggage and equipment, any liability you may
  incur against a third party and cancellation/curtailment of the trip should you need it.</p>
<p>YOU CONFIRM THAT YOU WILL ARRANGE INSURANCE AGAINST SUCH RISKS AND AGREE AND ACKNOWLEDGE THAT FAILURE TO DO SO IS AT
  YOUR OWN RISK</p>
<p>You hereby agree that except in respect of death or personal injury caused by negligence of Ciclos Major, neither
  Ciclos Major nor its employees or agents will have any liability (whether in contract or tort including negligence)
  for any loss, damage, injury or death you may suffer in connection with any trip organised by Ciclos Major. This
  includes but is not limited to theft of bicycles or injury as a result of cycling and in particular injuries sustained
  as a result of personal equipment which has not been adequately maintained or serviced or for failure by you to wear
  your cycle helmet. In addition, we shall not be liable for losses suffered related to any business of yours such as
  lost profits, lost data, loss of contracts, etc, or any other business loss that you may incur as a result of any
  breach of these terms and conditions.</p>
<p>We shall also not be liable for loss or damage suffered by you which is caused or contributed to by any defect or
  failure of any travel services not provided by us and for which we could not reasonably be expected to be responsible
  for.</p>
<p>Furthermore, Ciclos Major is not responsible for any failure by you to take out the appropriate insurance or for any
  losses suffered by you as a result of you breaching any of these terms and conditions.</p>
<p>Except for those matters for which we do not seek to exclude our liability to you, our total liability to you is
  limited to twice the basic holiday price per person shown on your invoice or agreed in writing with us.</p>
