<p>
  <a href="https://www.google.com/maps/place/Ciclos+Major+Cycling+Holidays/@39.8421334,3.125244,17z/data=!4m7!3m6!1s0x1297d5ce9fde35c5:0x7ee3d292ef8e34f6!8m2!3d39.8421334!4d3.1274327!9m1!1b1"
     class="btn btn-primary">
    <span class="fa-brands fa-google fa-fw"></span>
    Read Google Reviews (Zafiro Tropic)
  </a>

  <a href="https://www.google.com/maps/place/Ciclos+Major+Cycling+Holidays/@39.8449865,3.1332285,17z/data=!4m14!1m7!3m6!1s0x12962d6616f07767:0xc5744d88afd7523c!2sCiclos+Major+Cycling+Holidays!8m2!3d39.8449865!4d3.1332285!16s%2Fg%2F11sszb99lj!3m5!1s0x12962d6616f07767:0xc5744d88afd7523c!8m2!3d39.8449865!4d3.1332285!16s%2Fg%2F11sszb99lj?entry=ttu"
     class="btn btn-primary">
    <span class="fa-brands fa-google fa-fw"></span>
    Read Google Reviews (Zafiro Palace)

  </a>
</p>

<%== erb :_tinymce, locals: { id: "testimonials.title" } %>
<%== erb :_tinymce, locals: { id: "testimonials.body" } %>
